<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索天下，觸手可及——3D 知識力任務大挑戰</title>
    <meta name="keywords" content="3D知識力,抽獎,任務,全家咖啡,恆毅力,博學力,思辨力,線上課程,天下雜誌,天下學習,天下出版,天下雜誌出版,天下報導,職場,自我學習,天下全閱讀">
    <meta name="description" content="在職場這場馬拉松中，唯有持續自我學習，才有機會帶動團隊創新動能，朝學習性組織前進。只要重複了90天，就會形成穩定的習慣，讓我們從養成3D知識力開始吧！">
    <link rel="shortcut icon" href="https://www.cw.com.tw/assets_new/img/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://www.cw.com.tw/member-2022/">
    <meta property="og:title" content="3D 知識力任務大挑戰 - 探索天下 觸手可及">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cw.com.tw/member-2022/" />
    <meta property="og:image" content="https://www.cw.com.tw/member-2022/assets/images/share.jpg" />
    <meta property="og:site_name" content="探索天下，觸手可及——3D 知識力任務大挑戰" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:description" content="在職場這場馬拉松中，唯有持續自我學習，才有機會帶動團隊創新動能，朝學習性組織前進。只要重複了90天，就會形成穩定的習慣，讓我們從養成3D知識力開始吧！">
    <meta property="fb:admins" content="597428623" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="3D 知識力任務大挑戰 - 探索天下 觸手可及" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXLD77');</script>
    <!-- End Google Tag Manager -->    
</head>
<body class="index-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <header class="position-fixed top-0 w-100">
        <div class="container-fluid d-flex align-items-center py-20 px-md-40">
            <a href="https://www.cw.com.tw/" class="logo">
                <img src="https://www.cw.com.tw/images/common/logo.svg" height="40" alt="">
            </a>
        </div>
    </header>
    <main>
        <section class="key-visual">
            <div class="flip-group">
                <img id="kv" src="assets/images/visual-grid.svg" width="1200" alt="">
                <div class="flip flip-x-1 flip-5-4 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-5-3 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-3-3 flip-north" data-offset="80"></div>
                <div class="flip flip-x-1 flip-1-1 flip-west" data-offset="130"></div>
                <div class="flip flip-x-1 flip-1-2 flip-east" data-offset="90"></div>
                <div class="flip flip-y-1 flip-2-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-2-1 flip-east" data-offset="130"></div>
                <div class="flip flip-x-1 flip-2-3 flip-west" data-offset="170"></div>
                <div class="flip flip-x-2 flip-2-5 flip-north" data-offset="50"></div>
                <div class="flip flip-y-1 flip-3-1 flip-north" data-offset="130"></div>
                <div class="flip flip-y-1 flip-3-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-4-2 flip-west" data-offset="180"></div>
                <div class="flip flip-y-1 flip-2-4 flip-south" data-offset="150"></div>
                <div class="flip flip-x-1 flip-4-1 flip-east" data-offset="140"></div>
                <div class="flip flip-x-1 flip-4-3 flip-east" data-offset="120"></div>
                <div class="flip flip-x-2 flip-5-1 flip-west" data-offset="160"></div>
                <div class="flip flip-y-1 flip-5-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-5-5 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-6-1 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-7-1 flip-south" data-offset="70"></div>
                <div class="flip flip-y-1 flip-7-2 flip-south" data-offset="160"></div>
                <div class="flip flip-x-1 flip-8-2 flip-south" data-offset="100"></div>
                <div class="flip flip-x-2 flip-8-3 flip-west" data-offset="100">
                    <span>Daily</span>
                </div>
                <div class="flip flip-x-1 flip-9-1 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-2 flip-west" data-offset="100"></div>
                <div class="flip flip-y-1 flip-9-4 flip-north" data-offset="120"></div>
                <div class="flip flip-y-1 flip-9-7 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-9-3 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-6 flip-east" data-offset="160"></div>
                <div class="flip flip-x-1 flip-9-5 flip-west" data-offset="270"></div>
                <div class="flip flip-x-2 flip-10-1 flip-north" data-offset="90"></div>
                <div class="flip flip-x-1 flip-10-2 flip-east" data-offset="125"></div>
                <div class="flip flip-y-1 flip-10-3 flip-south" data-offset="130"></div>
                <div class="flip flip-x-2 flip-11-2 flip-south" data-offset="25"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west" data-offset="140"></div>
                <div class="flip flip-x-2 flip-8-1 flip-east" data-offset="150"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west flip-transparent" data-offset="140">
                    <span class="sentance">
                        <span>探</span>
                        <span>索</span>
                        <span>天</span>
                        <span>下</span>
                    </span>
                </div>
                <div class="flip flip-x-2 flip-8-1 flip-east flip-transparent" data-offset="150">
                    <span class="sentance">
                        <span>觸</span>
                        <span>手</span>
                        <span>可</span>
                        <span>及</span>
                    </span>
                </div>
                <div class="flip flip-x-1 flip-11-1 flip-west" data-offset="110">
                    <span>
                        <span class="sentance">
                            <span>3D</span>
                            <span>知</span>
                            <span>識</span>
                            <span>力</span>
                        </span>
                        <span class="sentance">
                            <span>任</span>
                            <span>務</span>
                            <span>大</span>
                            <span>挑</span>
                            <span>戰</span>
                        </span>
                    </span>
                </div>
                <div class="flip flip-y-1 flip-11-3 flip-south" data-offset="80">
                    <span>Dialogue</span>
                </div>
                <div class="flip flip-x-2 flip-12-1 flip-south" data-offset="50"></div>
                <div class="flip flip-x-1 flip-13-1 flip-west" data-offset="200">
                    <span>Dig<br/>Deep</span>
                </div>
            </div>
        </section>
        <section></section>
    </main>
    <img src="assets/images/mouse.png" alt="往下滾icon" class="icon-mouse">
    <a class="btn-line" href="https://maac.io/1fKm1" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-line"></i>
    </a>
    <div class="key-visual-text position-fixed bottom-0 p-md-40 ps-20 pb-30">
        <h5>2022 <span class="fs-2">3/29 ~ 4/28</span></h5>
        <h5>加入天下會員→完成挑戰→立即抽大獎</h5>
    </div>
    <div id="app">
        <section id="article" class="px-md-20 px-40 pb-md-0 pb-50">
            <div class="container px-30 bg-white">
                <div class="content pt-md-60 pt-30 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <span class="d-block">職場就像一場馬拉松，</span>
                    <span class="d-block"><span class="d-inline-block">為什麼有些人總能展現</span><span class="d-inline-block">創意、帶動團隊？</span></span>
                    <span class="d-block"><span class="d-inline-block">因為他們知道，</span><span class="d-inline-block">必須不斷修煉3D知識力！</span></span>
                    <hr class="mt-md-60 mt-30 mb-0">
                </div>
                <div class="content pt-md-60 pt-30">
                    <h2 class="fs-1 mb-40 text-center">什麼是 3D 知識力？</h2>
                    <div class="tree-dimensions d-table mx-auto position-relative">
                        <img src="assets/images/tree-dimensions.svg" class="d-block mx-auto" alt="">
                        <div class="dialogue position-absolute" data-bs-toggle="modal" data-bs-target="#dialogueModal" data-aos="fade-up" data-aos-duration="1000">
                            <div class="fs-7 text-primary">Dialogue</div>
                            <h4 class="mb-0">遍覽群書<span class="d-md-inline d-block text-primary">博學力</span></h4>
                        </div>
                        <div class="daily position-absolute text-md-start text-end" data-bs-toggle="modal" data-bs-target="#dailyModal" data-aos="fade-up" data-aos-duration="1000">
                            <div class="fs-7 text-primary">Daily</div>
                            <h4 class="mb-0">晴耕雨讀<span class="d-md-inline d-block text-primary">恆毅力</span></h4>
                        </div>
                        <div class="dig-deep position-absolute" data-bs-toggle="modal" data-bs-target="#digDeepModal" data-aos="fade-up" data-aos-duration="1000">
                            <div class="fs-7 text-primary">Dig Deep</div>
                            <h4 class="mb-0">博學審問<span class="d-md-inline d-block text-primary">思辨力</span></h4>
                        </div>
                    </div>
                    <hr class="mt-md-60 mt-30 mb-0">
                </div>
                <div id="challenge" class="content pt-md-60 pt-30 text-center">
                    <h2 class="fs-1 mb-20 text-center"><span class="d-inline-block">&nbsp;立刻點擊一個挑戰&nbsp;</span><span class="d-inline-block">&nbsp;完成任務&nbsp;&nbsp;抽大獎</span></h2>
                    <p>
                        於活動期間（2022/3/29~4/28）可選擇從恆毅力、博學力或思辨力任一挑戰開始，七天內完成三項 3D 知識力挑戰，不僅可參加抽大獎，還可以分別獲得神秘小禮物共三份。
                    </p>
                    <div class="challenge-group row justify-content-center justify-content-md-between">
                        <div class="challenge-item col-md-2 mt-md-20 mt-50 text-center" data-aos="fade-up" data-aos-duration="1000">
                            <div class="img mb-20">
                                <img
                                    src="assets/images/puzzle/webaccess.png"
                                    alt="天下報導"
                                    :class="{'opacity-50': !challenge.read.state}"
                                >
                                <i class="icon icon-question fs-4 p-5 text-white bg-black bg-opacity-75" v-if="!challenge.read.state"></i>
                            </div>
                            <h5 class="fs-3 mb-20">恆毅力｜天下報導</h5>
                            <a
                                :href="challenge.read.url"
                                class="challenge-btn btn btn-lg btn-primary fs-6 w-100"
                                :class="{'btn-success': challenge.read.state}"
                            >
                                {{ challenge.read.text }}
                                <img src="assets/images/click.png" alt="" v-if="!challenge.read.state">
                            </a>
                            <small class="d-block fs-7 opacity-50 mt-10" v-if="challenger">已有 6,263 人完成挑戰</small>
                        </div>
                        <div class="challenge-item col-md-2 mt-md-20 mt-50 text-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                            <div class="img mb-20">
                                <img
                                    src="assets/images/puzzle/publishing.png"
                                    alt="天下出版"
                                    :class="{'opacity-50': !challenge.book.state}"
                                >
                                <i class="icon icon-question fs-4 p-5 text-white bg-black bg-opacity-75" v-if="!challenge.book.state"></i>
                            </div>
                            <h5 class="fs-3 mb-20">博學力｜天下出版</h5>
                            <a
                                :href="challenge.book.url"
                                class="challenge-btn btn btn-lg btn-primary fs-6 w-100"
                                :class="{'btn-success': challenge.book.state}"
                            >
                                {{ challenge.book.text }}
                                <img src="assets/images/click.png" alt="" v-if="!challenge.book.state">
                            </a>
                            <small class="d-block fs-7 opacity-50 mt-10" v-if="challenger">已有 6,263 人完成挑戰</small>
                        </div>
                        <div class="challenge-item col-md-2 mt-md-20 mt-50 text-center" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                            <div class="img mb-20">
                                <img
                                    src="assets/images/puzzle/cwlearning.png"
                                    alt="天下學習"
                                    :class="{'opacity-50': !challenge.learn.state}"
                                >
                                <i class="icon icon-question fs-4 p-5 text-white bg-black bg-opacity-75" v-if="!challenge.learn.state"></i>
                            </div>
                            <h5 class="fs-3 mb-20">思辨力｜天下學習</h5>
                            <a
                                :href="challenge.learn.url"
                                class="challenge-btn btn btn-lg btn-primary fs-6 w-100"
                                :class="{'btn-success': challenge.learn.state}"
                            >
                                {{ challenge.learn.text }}
                                <img src="assets/images/click.png" alt="" v-if="!challenge.learn.state">
                            </a>
                            <small class="d-block fs-7 opacity-50 mt-10" v-if="challenger">已有 6,263 人完成挑戰</small>
                        </div>
                    </div>
                    <p class="fs-7 text-gray pt-60 pb-20 mt-md-0 mt-20 mb-0">
                        參與本活動需先登入天下集團會員並同意<a href="https://member.cwg.tw/register-rule" target="_blank" rel="noopener noreferrer">會員條款</a>與<a href="https://member.cwg.tw/privacy-policy" target="_blank" rel="noopener noreferrer">個資聲明</a>
                    </p>
                </div>
            </div>
        </section>
        <section id="awards" class="awards-section bg-secondary py-40 mt-50">
            <div class="container px-30">
                <div class="content pt-40">
                    <h2 class="h1 mb-40 text-center">抽獎獎品與辦法</h2>
                    <div class="award-group row justify-content-between text-center">
                        <div class="col-md-2 col-3 mb-40" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-1.jpg" class="img-fluid" alt="全家咖啡即享券">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">全家咖啡即享券</span> <span class="d-inline-block">10 張</span></p>
                        </div>
                        <div class="col-md-2 col-3 mb-40" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-2.jpg" class="img-fluid" alt="天下學習課程">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">天下學習課程</span><span class="d-inline-block">任選 3 堂</span></p>
                            <small class="d-block fs-7 opacity-50">價值 $7,470</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-3.jpg" class="img-fluid" alt="天下書籍">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">天下書籍</span><span class="d-inline-block">任選 5 本</span></p>
                            <small class="d-block fs-7 opacity-50">價值 $3,000</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-4.jpg" class="img-fluid" alt="天下全閱讀">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">天下全閱讀</span><span class="d-inline-block">一年無限暢讀</span></p>
                            <small class="d-block fs-7 opacity-50">價值 $2,490</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-5.jpg" class="img-fluid" alt="天下創刊號收藏版+筆記本">
                            <p class="fs-6 mt-10 mb-0">
                                <span class="d-md-inline-block">天下創刊號收藏版一本</span>
                                <span class="d-md-inline-block">+</span>
                                <span class="d-md-inline-block">天下獨家筆記本一本</span>
                            </p>
                            <small class="d-block fs-7 opacity-50">價值 $9,999</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-6.jpg" class="img-fluid" alt="天下執行長們">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">與天下執行長們</span><span class="d-inline-block">的咖啡約會</span></p>
                            <small class="d-block fs-7 opacity-50">無價</small>
                        </div>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="mb-10">抽獎及通知相關細節</h4>
                        <ol class="fs-7 my-0">
                            <li>主辦單位將於 2022 年 5 月 10 日隨機抽出，中獎名單預計於 2022 年 5 月 17 日於主辦單位官網公告，並於名單公告後 7 天內透過電子郵件或電話通知中獎者。</li>
                            <li>領獎方式：中獎者收到通知後，確認是否接受獎品，主辦單位將直接寄送相關獎品至中獎人通訊地址。</li>
                            <li>對於本活動有任何問題與疑問，請洽天下雜誌客服單位 bill@cw.com.tw</li>
                            <li>加碼禮：挑戰者於 21 天內領取三項神秘小禮物且使用成功，前 300 名天下加碼送全家咖啡即享券一張。</li>
                        </ol>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="mt-40 mb-10">活動注意事項</h4>
                        <ol class="fs-7 my-0">
                            <li>參加者同意主辦及執行等相關單位得於本活動範圍及執行期間內，進行蒐集、處理、利用個人資料；並同意於中獎時，公布部分姓名等個人資料於中獎名單。</li>
                            <li>中獎者如因資料填寫不完整或不確實（需填寫：姓名、電話、地址、電子郵件）導主辦單位無法與其聯繫者，視為自動放棄中獎資格，恕不兌換。</li>
                            <li>依中華民國稅法規定，中獎者若為中華民國境內居住之個人，中獎價值超過新臺幣 1,000 元（含）以上者，需繳交身分證正反面影本供報稅使用，年度報稅時將計入個人所得，次年初主辦單位將依稅法相關規定辦理開立扣繳憑單。中獎者若非中華民國境內居住之個人，不論中獎金額，須先就中獎所得扣繳 20% 機會中獎稅後，始發予中獎獎項，主辦單位皆會開立扣繳憑單。</li>
                            <li>本活動之抽獎、中獎與有效交易紀錄，均依主辦單位之紀錄與認定為準。</li>
                        </ol>
                    </div>
                    <p class="fs-7 my-40" data-aos="fade-up" data-aos-duration="1000">
                        主辦單位保有隨時調整活動內容的權利
                    </p>
                </div>
            </div>
        </section>
        <footer class="fs-8 bg-secondary">
            <div class="container py-20">
                <div class="content">
                    <span class="d-block">
                        <span class="d-inline-block">讀者服務專線：886-2-2662-0332</span>
                        <span class="d-inline-block">服務時間：週一～週五 09:00~17:30</span>
                    </span>
                    <span class="d-block">Copyright © 2022 天下雜誌</span>
                </div>
            </div>
        </footer>
        <div class="modal modal-3d fade" id="dialogueModal" tabindex="-1" aria-labelledby="dialogueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-30">
                        <div class="fs-6">Dialogue</div>
                        <h3 class="mb-10">遍覽群書<span class="text-primary">博學力</span></h3>
                        <p class="fs-6 mb-0">
                            從經典到創新，每一本書、都蘊藏著當代的智慧，邀請你一起走進閱讀、走進文字的寶庫。天下雜誌出版引介國際經濟與社會的新趨勢、新思潮與管理新知；傳遞台灣企業的故事與經營管理的智慧。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-3d fade" id="dailyModal" tabindex="-1" aria-labelledby="dailyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-30">
                        <div class="fs-6">Daily</div>
                        <h3 class="mb-10">晴耕雨讀的<span class="text-primary">恆毅力</span></h3>
                        <p class="fs-6 mb-0">
                            知識的鍛鍊需要日日的累積，才能匯聚成穩重深沉的力量；天下的深度報導，透過天下官網、天下 App、天下雜誌雙週刊等線上線下途徑，提供你不間斷的知識養分。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-3d fade" id="digDeepModal" tabindex="-1" aria-labelledby="digDeepModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-30">
                        <div class="fs-6">Dig Deep</div>
                        <h3 class="mb-10">博學審問的<span class="text-primary">思辨力</span></h3>
                        <p class="fs-6 mb-0">
                            以「專業、視野、領先」作為課程設計的核心，與跨產業智者共同鍛造最頂尖的課程，天下學習讓你透過流暢的線上課程汲取，最精粹而深厚的知識。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="formbox fs-8 position-fixed start-0 top-0 opacity-0">
            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" target="nm_iframe" class="sf_form">
                <input type="hidden" name="oid" value="00D2w000006VPp6">
                <input type="hidden" name="retURL" value="http://www.cw.com.tw">
                <!-- 欄位們 -->
                <div class="contentbox">
                    <p><span class="rq">⁕</span>為必填欄位</p>
                    <div class="inputbox">
                        <label for="last_name">姓名<span class="rq">⁕</span></label>
                        <span class="error blank">此為必填欄位</span>
                        <!-- 名字欄位系統會比對，相同的話無法寫入 -->
                        <input
                            id="last_name"
                            maxlength="40"
                            name="last_name"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="user.name"
                        />
                    </div>
                    <div class="inputbox">
                        <label for="email">電子信箱<span class="rq">⁕</span></label>
                        <span class="error blank">此為必填欄位</span>
                        <span class="error wrong errorMail">請確認電子信箱是否填寫正確</span>
                        <input
                            id="email"
                            maxlength="80"
                            name="email"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="user.email"
                        />
                    </div>
                    <!-- 需寫入備註欄的特殊欄位 -->
                    <div class="inputbox specialbox freetextbox">
                        <label for="company">公司名稱<span class="rq">⁕</span></label>
                        <span class="error blank errorCompany">此為必填欄位</span>
                        <input id="company" name="company" size="20" type="text" class="required" required value="天下" />
                    </div>
                    <!-- 需寫入備註欄的特殊欄位 -->
                    <div class="inputbox specialbox freetextbox">
                        <label for="challenge">挑戰狀態<span class="rq">⁕</span></label>
                        <span class="error blank errorChallenge">此為必填欄位</span>
                        <input
                            id="challenge"
                            name="challenge"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="eventLabel"
                        />
                    </div>
                    <div class="checkbox">
                        <div>
                            <label>
                                <input type="checkbox" name="policy" value="yes" id="policy" checked>
                                <span class="checkmark"></span>我已閱讀並同意個資聲明<span class="rq">⁕</span>
                                <span class="error blank errorPolicy">此為必填欄位</span>
                            </label>
                        </div>
                    </div>
                    <p class="policyword">
                        當您填表完成簽名或勾選﹝我已閱讀並同意﹞並送出資料時，即表示您已閱讀、了解並同意本聲明暨同意書的所有內容。<br>本活動由【客戶名稱】與【天下雜誌股份有限公司】（以下統稱我們）為本服務之目的向您蒐集、處理、利用您的資料包括您的【姓名、電話、Email、工作資訊或其他得以直接或間接識別您個人之資料】，通過遞交此表格，您確認同意我們按照隱私權聲明存儲及處理您的個人資料。【客戶名稱】可能會使用您的個人資料作營銷用途。<br>您可依個人資料保護法規定，就您的個人資料向我們行使下列權利：(1)查詢或請求閱覽(2)請求製給複製本(3)請求補充或更正(4)請求停止蒐集、處理及利用(5)請求刪除。關於您的權益如有任何疑慮，敬請詳閱天下雜誌<a href="https://event.cw.com.tw/policy/" target="_blank">隱私權同意書(個人資料聲明同意書)</a>。
                    </p>
                    <!-- 以下是隱藏的欄位放的div -->
                    <div class="hiddenbox">
                        同意個資聲明:
                        <!-- 依user勾選同意與否帶入對應的值 -->
                        <input id="00N2w00000Hh3Kk" maxlength="80" name="00N2w00000Hh3Kk" size="20" type="text" value="A版" />
                        活動名稱:
                        <!-- 更換活動名稱 預先填好不開放給user填寫 -->
                        <input id="00N2w00000Hh3MH" maxlength="80" name="00N2w00000Hh3MH" size="20" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" />
                        報名日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3C1" name="00N2w00000Hh3C1" size="12" type="text" /></span>
                        活動類型:<textarea id="00N2w00000Hh3MW" name="00N2w00000Hh3MW" rows="3" type="text" wrap="soft"></textarea>
                        名單到期日:
                        <span style="font-size: 80%;">(預先填好不開放給user填寫)</span>
                        <span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3Kz" name="00N2w00000Hh3Kz" size="12" type="text" value="2024/4/30" /></span>
                        同意行銷:
                        <select id="00N2w00000Hh3NF" name="00N2w00000Hh3NF" title="同意行銷">
                            <option value="">--無--</option>
                            <option value="同意" selected>同意</option>
                            <option value="不同意">不同意</option>
                            <option value="待確認">待確認</option>
                        </select>
                        取得BU:
                        <select id="00N2w00000Hh3IA" name="00N2w00000Hh3IA" title="取得BU">
                            <option value="">--無--</option>
                            <option value="集團">集團</option>
                            <option value="天下" selected>天下</option>
                            <option value="親子">親子</option>
                            <option value="康健">康健</option>
                            <option value="Cheers">Cheers</option>
                        </select>
                        <p>以下為 【付費活動必填欄位】</p>
                        會員帳號:<input id="00N2w00000Hka6z" maxlength="80" name="00N2w00000Hka6z" size="20" type="text" />
                        訂單資訊:<textarea id="00N2w00000DOPqA" name="00N2w00000DOPqA" rows="3" type="text" wrap="soft"></textarea>
                        <p style="border-top: 1px dotted #666; padding-top: 1rem; margin-top: 2rem;">以下為【非必填欄位】</p>
                        從事行業:<input id="00N2w00000Hh3BS" maxlength="255" name="00N2w00000Hh3BS" size="20" type="text" />
                        活動日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3MM" name="00N2w00000Hh3MM" size="12" type="text" /></span>
                        活動區域:<textarea id="00N2w00000Hh3MR" name="00N2w00000Hh3MR" rows="3" type="text" wrap="soft"></textarea>
                        備註:<textarea id="00N2w00000Hh3Mv" name="00N2w00000Hh3Mv" rows="3" type="text" wrap="soft"></textarea>
                        subBU:<textarea id="00N2w00000Hh3LO" name="00N2w00000Hh3LO" rows="3" type="text" wrap="soft"></textarea>
                        廣告客戶名稱:<textarea id="00N2w00000Hh3Ld" name="00N2w00000Hh3Ld" rows="3" type="text" wrap="soft"></textarea>
                        名單來源:<input id="00N2w00000Hh3M7" name="00N2w00000Hh3M7" rows="3" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" >
                        <div class="checkbox">
                            <div>
                                <label>
                                    <input type="checkbox" id="00N2w00000HiIrE" name="00N2w00000HiIrE" value="1">
                                    <span></span>是否為PR
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- 以下是隱藏的欄位放的div end -->
                    <button type="button" class="submitbtn" id="sendBtn">送出</button>
                    <span class="error errorSubmit">* 請確認上方欄位皆已正確填寫</span>
                    <input type="submit" name="submit" class="submitbtn" id="sfBtn">
                </div>
                <!-- 欄位們 end -->
                <!-- 為了不跳頁，用來放感謝頁的iframe -->
                <div class="hiddenIframe" style="width: 100%;height: 100px; display: none;">
                    <p>感謝頁在這</p>
                    <iframe id="id_iframe" name="nm_iframe" width="0" height="0" frameBorder="0" style="width:100%; height: 100%"></iframe>
                </div>
                <!-- 為了不跳頁，用來放感謝頁的iframe end -->
            </form>
            <div class="tks">
                <p>感謝您的填寫<br>將會有專人與您聯繫</p>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="assets/js/kv.js"></script>
    <script src="assets/js/index.js" type="module"></script>
</body>
</html>