<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索天下，觸手可及——3D 知識力任務大挑戰</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXLD77');</script>
    <!-- End Google Tag Manager -->    
</head>
<body class="index-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <header class="position-fixed top-0 w-100">
        <div class="container-fluid d-flex align-items-center py-20 px-md-40">
            <a href="https://www.cw.com.tw/" class="logo">
                <img src="https://www.cw.com.tw/images/common/logo.svg" height="40" alt="">
            </a>
            <!-- <nav class="ms-auto">
                <ul class="d-flex">
                    <li><a href="#!" class="btn ms-5">3D 知識力</a></li>
                    <li><a href="#!" class="btn ms-5">挑戰任務</a></li>
                    <li><a href="#!" class="btn ms-5">抽獎獎品與辦法</a></li>
                </ul>
            </nav> -->
        </div>
    </header>
    <main>
        <section class="key-visual">
            <div class="flip-group">
                <img id="kv" src="assets/images/visual-grid.svg" width="1200" alt="">
                <div class="flip flip-x-1 flip-5-4 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-5-3 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-3-3 flip-north" data-offset="80"></div>
                <div class="flip flip-x-1 flip-1-1 flip-west" data-offset="130"></div>
                <div class="flip flip-x-1 flip-1-2 flip-east" data-offset="90"></div>
                <div class="flip flip-y-1 flip-2-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-2-1 flip-east" data-offset="130"></div>
                <div class="flip flip-x-1 flip-2-3 flip-west" data-offset="170"></div>
                <div class="flip flip-x-2 flip-2-5 flip-north" data-offset="50"></div>
                <div class="flip flip-y-1 flip-3-1 flip-north" data-offset="130"></div>
                <div class="flip flip-y-1 flip-3-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-4-2 flip-west" data-offset="180"></div>
                <div class="flip flip-y-1 flip-2-4 flip-south" data-offset="150"></div>
                <div class="flip flip-x-1 flip-4-1 flip-east" data-offset="140"></div>
                <div class="flip flip-x-1 flip-4-3 flip-east" data-offset="120"></div>
                <div class="flip flip-x-2 flip-5-1 flip-west" data-offset="160"></div>
                <div class="flip flip-y-1 flip-5-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-5-5 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-6-1 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-7-1 flip-south" data-offset="70"></div>
                <div class="flip flip-y-1 flip-7-2 flip-south" data-offset="160"></div>
                <div class="flip flip-x-1 flip-8-2 flip-south" data-offset="100"></div>
                <div class="flip flip-x-2 flip-8-3 flip-west" data-offset="100">
                    <span>Daily</span>
                </div>
                <div class="flip flip-x-1 flip-9-1 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-2 flip-west" data-offset="100"></div>
                <div class="flip flip-y-1 flip-9-4 flip-north" data-offset="120"></div>
                <div class="flip flip-y-1 flip-9-7 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-9-3 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-6 flip-east" data-offset="160"></div>
                <div class="flip flip-x-1 flip-9-5 flip-west" data-offset="270"></div>
                <div class="flip flip-x-2 flip-10-1 flip-north" data-offset="90"></div>
                <div class="flip flip-x-1 flip-10-2 flip-east" data-offset="125"></div>
                <div class="flip flip-y-1 flip-10-3 flip-south" data-offset="130"></div>
                <div class="flip flip-x-2 flip-11-2 flip-south" data-offset="25"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west" data-offset="140"></div>
                <div class="flip flip-x-2 flip-8-1 flip-east" data-offset="150"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west flip-transparent" data-offset="140">
                    <span class="sentance">
                        <span>探</span>
                        <span>索</span>
                        <span>天</span>
                        <span>下</span>
                    </span>
                </div>
                <div class="flip flip-x-2 flip-8-1 flip-east flip-transparent" data-offset="150">
                    <span class="sentance">
                        <span>觸</span>
                        <span>手</span>
                        <span>可</span>
                        <span>及</span>
                    </span>
                </div>
                <div class="flip flip-x-1 flip-11-1 flip-west" data-offset="110">
                    <span>
                        <span class="sentance">
                            <span>3D</span>
                            <span>知</span>
                            <span>識</span>
                            <span>力</span>
                        </span>
                        <span class="sentance">
                            <span>任</span>
                            <span>務</span>
                            <span>大</span>
                            <span>挑</span>
                            <span>戰</span>
                        </span>
                    </span>
                </div>
                <div class="flip flip-y-1 flip-11-3 flip-south" data-offset="80">
                    <span>Dialogue</span>
                </div>
                <div class="flip flip-x-2 flip-12-1 flip-south" data-offset="50"></div>
                <div class="flip flip-x-1 flip-13-1 flip-west" data-offset="200">
                    <span>Dig<br/>Deep</span>
                </div>
            </div>
        </section>
        <section></section>
    </main>
    <img src="assets/images/mouse.png" alt="往下滾icon" class="icon-mouse">
    <a class="btn-line" href="https://maac.io/1fKm1" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-line"></i>
    </a>
    <div class="key-visual-text position-fixed bottom-0 p-md-40 ps-20 pb-30">
        <h5>2022 <span class="fs-2">3/29 ~ 4/28</span></h5>
        <h5>加入天下會員→完成挑戰、立即抽大獎</h5>
    </div>
    <div id="app">
        <section id="article" class="px-md-20 px-40 pb-md-0 pb-50">
            <div class="container px-30 bg-white">
                <div class="content pt-md-60 pt-30 text-center">
                    <span class="d-block">職場就像一場馬拉松，</span>
                    <span class="d-block"><span class="d-inline-block">為什麼有些人總能展現</span><span class="d-inline-block">創意、帶動團隊？</span></span>
                    <span class="d-block"><span class="d-inline-block">因為他們知道，</span><span class="d-inline-block">必需不斷修煉3D知識力！</span></span>
                    <hr class="mt-md-60 mt-30 mb-0">
                </div>
                <div class="content pt-md-60 pt-30">
                    <h2 class="fs-1 mb-40 text-center">什麼是 3D 知識力？</h2>
                    <div class="tree-dimensions d-table mx-auto position-relative">
                        <img src="assets/images/tree-dimensions.svg" class="d-block mx-auto" alt="">
                        <div class="dialogue position-absolute" data-bs-toggle="modal" data-bs-target="#dialogueModal">
                            <div class="fs-7 text-primary">Dialogue</div>
                            <h4 class="mb-0">遍覽群書<span class="d-md-inline d-block text-primary">博學力</span></h4>
                        </div>
                        <div class="daily position-absolute text-md-start text-end" data-bs-toggle="modal" data-bs-target="#dailyModal">
                            <div class="fs-7 text-primary">Daily</div>
                            <h4 class="mb-0">晴耕雨讀<span class="d-md-inline d-block text-primary">恆毅力</span></h4>
                        </div>
                        <div class="dig-deep position-absolute" data-bs-toggle="modal" data-bs-target="#digDeepModal">
                            <div class="fs-7 text-primary">Dig Deep</div>
                            <h4 class="mb-0">博學審問<span class="d-md-inline d-block text-primary">思辨力</span></h4>
                        </div>
                    </div>
                    <hr class="mt-md-60 mt-30 mb-0">
                </div>
                <div class="content pt-md-60 pt-30 text-center">
                    <h2 class="fs-1 mb-20 text-center"><span class="d-inline-block">&nbsp;立刻點擊一個挑戰&nbsp;</span><span class="d-inline-block">&nbsp;完成任務&nbsp;&nbsp;抽大獎</span></h2>
                    <p>
                        於活動期間（2022/3/29~4/28）可選擇從恆毅力、博學力或思辨力任一挑戰開始，七天內完成三項 3D 知識力挑戰不僅可參加抽大獎，還可以分別獲得神秘小禮物共三份。
                    </p>
                    <div class="challenge-group row justify-content-center justify-content-md-between">
                        <div class="challenge-item col-md-2 mt-md-20 mt-50 text-center">
                            <div class="img mb-20"><img src="assets/images/puzzle/webaccess.png" alt="天下報導"></div>
                            <h5 class="fs-3 mb-20">恆毅力｜天下報導</h5>
                            <a :href="challenge.webaccess.url" class="challenge-btn btn btn-lg btn-primary fs-6 w-100">
                                挑戰抽大獎
                                <img src="assets/images/click.png" alt="">
                            </a>
                            <small class="d-block fs-7 opacity-50 mt-10" v-if="challenger">已有 6,263 人完成挑戰</small>
                        </div>
                        <div class="challenge-item col-md-2 mt-md-20 mt-50 text-center">
                            <div class="img mb-20"><img src="assets/images/puzzle/publishing.png" alt="天下出版"></div>
                            <h5 class="fs-3 mb-20">博學力｜天下出版</h5>
                            <a :href="challenge.cwlearing.url" class="challenge-btn btn btn-lg btn-primary fs-6 w-100">
                                挑戰抽大獎
                                <img src="assets/images/click.png" alt="">
                            </a>
                            <small class="d-block fs-7 opacity-50 mt-10" v-if="challenger">已有 6,263 人完成挑戰</small>
                        </div>
                        <div class="challenge-item col-md-2 mt-md-20 mt-50 text-center">
                            <div class="img mb-20"><img src="assets/images/puzzle/cwlearning.png" alt="天下學習"></div>
                            <h5 class="fs-3 mb-20">思辨力｜天下學習</h5>
                            <a :href="challenge.publishing.url" class="challenge-btn btn btn-lg btn-primary fs-6 w-100">
                                挑戰抽大獎
                                <img src="assets/images/click.png" alt="">
                            </a>
                            <small class="d-block fs-7 opacity-50 mt-10" v-if="challenger">已有 6,263 人完成挑戰</small>
                        </div>
                    </div>
                    <p class="fs-7 text-gray pt-60 pb-20 mt-md-0 mt-20 mb-0">
                        參與本活動需先登入天下集團會員並同意<a href="#!" target="_blank" rel="noopener noreferrer">會員條款</a>與<a href="#!" target="_blank" rel="noopener noreferrer">個資聲明</a>
                    </p>
                </div>
            </div>
        </section>
        <section class="awards-section bg-secondary py-40 mt-50">
            <div class="container px-30">
                <div class="content pt-40">
                    <h2 class="h1 mb-40 text-center">抽獎獎品與辦法</h2>
                    <div class="award-group row justify-content-between text-center">
                        <div class="col-md-2 col-3 mb-40">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-1.jpg" class="img-fluid" alt="全家咖啡即享券">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">全家咖啡即享券</span> <span class="d-inline-block">10 張</span></p>
                        </div>
                        <div class="col-md-2 col-3 mb-40">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-2.jpg" class="img-fluid" alt="天下學習課程">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">天下學習課程</span><span class="d-inline-block">任選 3 堂</span></p>
                            <small class="d-block fs-7 opacity-50">價值 $7,470</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-3.jpg" class="img-fluid" alt="天下書籍">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">天下書籍</span><span class="d-inline-block">任選 5 本</span></p>
                            <small class="d-block fs-7 opacity-50">價值 $3,000</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-4.jpg" class="img-fluid" alt="天下全閱讀">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">天下全閱讀</span><span class="d-inline-block">一年無限暢讀</span></p>
                            <small class="d-block fs-7 opacity-50">價值 $2,490</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-5.jpg" class="img-fluid" alt="天下創刊號收藏版+筆記本">
                            <p class="fs-6 mt-10 mb-0">
                                <span class="d-md-inline-block">天下創刊號收藏版一本</span>
                                <span class="d-md-inline-block">+</span>
                                <span class="d-md-inline-block">天下獨家筆記本一本</span>
                            </p>
                            <small class="d-block fs-7 opacity-50">價值 $9,999</small>
                        </div>
                        <div class="col-md-2 col-3 mb-40">
                            <h3 class="fs-2 text-primary">10 名</h3>
                            <img src="assets/images/awards/award-6.jpg" class="img-fluid" alt="天下執行長們">
                            <p class="fs-6 mt-10 mb-0"><span class="d-inline-block">與天下執行長們</span><span class="d-inline-block">的咖啡約會</span></p>
                            <small class="d-block fs-7 opacity-50">無價</small>
                        </div>
                    </div>
                    <h4 class="mb-10">抽獎及通知相關細節</h4>
                    <ol class="fs-7 my-0">
                        <li>主辦單位將於 2022 年 5 月 10 日隨機抽出，中獎名單預計於 2022 年 5 月 17 日於主辦單位官網公告，並於名單公告後 7 天內透過電子郵件或電話通知中獎者。</li>
                        <li>領獎方式：中獎者收到通知後，確認是否接受獎品，主辦單位將直接寄送相關獎品至中獎人通訊地址。</li>
                        <li>對於本活動有任何問題與疑問，請洽天下雜誌客服單位 bill@cw.com.tw</li>
                    </ol>
                    <h4 class="mt-40 mb-10">抽獎及通知相關細節</h4>
                    <ol class="fs-7 my-0">
                        <li>參加者同意主辦及執行等相關單位得於本活動範圍及執行期間內，進行蒐集、處理、利用個人資料；並同意於中獎時，公布部分姓名等個人資料於中獎名單。</li>
                        <li>中獎者如因資料填寫不完整或不確實（需填寫：姓名、電話、地址、電子郵件）導主辦單位無法與其聯繫者，視為自動放棄中獎資格，恕不兌換。</li>
                        <li>依中華民國稅法規定，中獎者若為中華民國境內居住之個人，中獎價值超過新臺幣 1,000 元（含）以上者，需繳交身分證正反面影本供報稅使用，年度報稅時將計入個人所得，次年初主辦單位將依稅法相關規定辦理開立扣繳憑單。中獎者若非中華民國境內居住之個人，不論中獎金額，須先就中獎所得扣繳 20% 機會中獎稅後，始發予中獎獎項，主辦單位皆會開立扣繳憑單。</li>
                        <li>本活動之抽獎、中獎與有效交易紀錄，均依主辦單位之紀錄與認定為準。</li>
                    </ol>
                    <p class="fs-7 my-40">
                        主辦單位保有隨時調整活動內容的權利
                    </p>
                </div>
            </div>
        </section>
        <footer class="fs-8 bg-secondary">
            <div class="container py-20">
                <div class="content">
                    <span class="d-block">
                        <span class="d-inline-block">讀者服務專線：886-2-2662-0332</span>
                        <span class="d-inline-block">服務時間：週一～週五 09:00~17:30</span>
                    </span>
                    <span class="d-block">Copyright © 2022 天下雜誌</span>
                </div>
            </div>
        </footer>
        <div class="modal modal-3d fade" id="dialogueModal" tabindex="-1" aria-labelledby="dialogueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-30">
                        <div class="fs-6">Dialogue</div>
                        <h3 class="mb-10">遍覽群書<span class="text-primary">博學力</span></h3>
                        <p class="fs-6 mb-0">
                            從經典到創新，每一本書、都蘊藏著當代的智慧，邀請你一起走進閱讀、走進文字的寶庫。天下雜誌出版引介國際經濟與社會的新趨勢、新思潮與管理新知；傳遞台灣企業的故事與經營管理的智慧。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-3d fade" id="dailyModal" tabindex="-1" aria-labelledby="dailyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-30">
                        <div class="fs-6">Daily</div>
                        <h3 class="mb-10">晴耕雨讀的<span class="text-primary">恆毅力</span></h3>
                        <p class="fs-6 mb-0">
                            知識的鍛鍊需要日日的累積，才能匯聚成穩重深沉的力量；天下的深度報導，透過天下官網、天下 App、天下雜誌雙週刊等線上線下途徑，提供你不間斷的知識養分。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-3d fade" id="digDeepModal" tabindex="-1" aria-labelledby="digDeepModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-30">
                        <div class="fs-6">Dig Deep</div>
                        <h3 class="mb-10">博學審問的<span class="text-primary">思辨力</span></h3>
                        <p class="fs-6 mb-0">
                            以「專業、視野、領先」作為課程設計的核心，與跨產業智者共同鍛造最頂尖的課程，天下學習讓你透過流暢的線上課程汲取，最精粹而深厚的知識。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="assets/js/kv.js"></script>
    <script src="assets/js/index.js" type="module"></script>
</body>
</html>