<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索天下，觸手可及——3D 知識力任務大挑戰</title>
    <meta name="keywords" content="3D知識力,抽獎,任務,全家咖啡,恆毅力,博學力,思辨力,線上課程,天下雜誌,天下學習,天下出版,天下雜誌出版,天下報導,職場,自我學習,天下全閱讀">
    <meta name="description" content="在職場這場馬拉松中，唯有持續自我學習，才有機會帶動團隊創新動能，朝學習性組織前進。只要重複了90天，就會形成穩定的習慣，讓我們從養成3D知識力開始吧！">
    <link rel="shortcut icon" href="https://www.cw.com.tw/assets_new/img/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://www.cw.com.tw/member-2022/">
    <meta property="og:title" content="3D 知識力任務大挑戰 - 探索天下 觸手可及">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cw.com.tw/member-2022/" />
    <meta property="og:image" content="https://www.cw.com.tw/member-2022/assets/images/share.jpg" />
    <meta property="og:site_name" content="探索天下，觸手可及——3D 知識力任務大挑戰" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:description" content="在職場這場馬拉松中，唯有持續自我學習，才有機會帶動團隊創新動能，朝學習性組織前進。只要重複了90天，就會形成穩定的習慣，讓我們從養成3D知識力開始吧！">
    <meta property="fb:admins" content="597428623" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="3D 知識力任務大挑戰 - 探索天下 觸手可及" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXLD77');</script>
    <!-- End Google Tag Manager -->    
</head>
<body class="inner-page publishing-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <header class="position-fixed top-0 w-100">
        <div class="container-fluid d-flex align-items-center py-20 px-md-40">
            <a href="https://www.cw.com.tw/" class="logo">
                <img src="https://www.cw.com.tw/images/common/logo.svg" height="40" alt="">
            </a>
        </div>
    </header>
    <main>
        <section class="key-visual">
            <img id="kv" class="opacity-50" src="assets/images/visual-grid.svg" width="1200" alt="">
            <div class="flip-group">
                <div class="flip flip-x-1 flip-5-4 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-5-3 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-3-3 flip-north" data-offset="80"></div>
                <div class="flip flip-x-1 flip-1-1 flip-west" data-offset="130"></div>
                <div class="flip flip-x-1 flip-1-2 flip-east" data-offset="90"></div>
                <div class="flip flip-y-1 flip-2-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-2-1 flip-east" data-offset="130"></div>
                <div class="flip flip-x-1 flip-2-3 flip-west" data-offset="170"></div>
                <div class="flip flip-x-2 flip-2-5 flip-north" data-offset="50"></div>
                <div class="flip flip-y-1 flip-3-1 flip-north" data-offset="130"></div>
                <div class="flip flip-y-1 flip-3-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-4-2 flip-west" data-offset="180"></div>
                <div class="flip flip-y-1 flip-2-4 flip-south" data-offset="150"></div>
                <div class="flip flip-x-1 flip-4-1 flip-east" data-offset="140"></div>
                <div class="flip flip-x-1 flip-4-3 flip-east" data-offset="120"></div>
                <div class="flip flip-x-2 flip-5-1 flip-west" data-offset="160"></div>
                <div class="flip flip-y-1 flip-5-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-5-5 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-6-1 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-7-1 flip-south" data-offset="70"></div>
                <div class="flip flip-y-1 flip-7-2 flip-south" data-offset="160"></div>
                <div class="flip flip-x-1 flip-8-2 flip-south" data-offset="100"></div>
                <div class="flip flip-x-2 flip-8-3 flip-west" data-offset="100">
                    <span>Daily</span>
                </div>
                <div class="flip flip-x-1 flip-9-1 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-2 flip-west" data-offset="100"></div>
                <div class="flip flip-y-1 flip-9-4 flip-north" data-offset="120"></div>
                <div class="flip flip-y-1 flip-9-7 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-9-3 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-6 flip-east" data-offset="160"></div>
                <div class="flip flip-x-1 flip-9-5 flip-west" data-offset="270"></div>
                <div class="flip flip-x-2 flip-10-1 flip-north" data-offset="90"></div>
                <div class="flip flip-x-1 flip-10-2 flip-east" data-offset="125"></div>
                <div class="flip flip-y-1 flip-10-3 flip-south" data-offset="130"></div>
                <div class="flip flip-x-2 flip-11-2 flip-south" data-offset="25"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west" data-offset="140"></div>
                <div class="flip flip-x-2 flip-8-1 flip-east" data-offset="150"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west flip-transparent" data-offset="140">
                    <span class="sentance">
                        <span>探</span>
                        <span>索</span>
                        <span>天</span>
                        <span>下</span>
                    </span>
                </div>
                <div class="flip flip-x-2 flip-8-1 flip-east flip-transparent" data-offset="150">
                    <span class="sentance">
                        <span>觸</span>
                        <span>手</span>
                        <span>可</span>
                        <span>及</span>
                    </span>
                </div>
                <div class="flip flip-x-1 flip-11-1 flip-west" data-offset="110">
                    <span>
                        <span class="sentance">
                            <span>3D</span>
                            <span>知</span>
                            <span>識</span>
                            <span>力</span>
                        </span>
                        <span class="sentance">
                            <span>任</span>
                            <span>務</span>
                            <span>大</span>
                            <span>挑</span>
                            <span>戰</span>
                        </span>
                    </span>
                </div>
                <div class="flip flip-y-1 flip-11-3 flip-south" data-offset="80">
                    <span>Dialogue</span>
                </div>
                <div class="flip flip-x-2 flip-12-1 flip-south" data-offset="50"></div>
                <div class="flip flip-x-1 flip-13-1 flip-west" data-offset="200">
                    <span>Dig<br/>Deep</span>
                </div>
            </div>
        </section>
        <img src="assets/images/mouse.png" alt="往下滾icon" class="icon-mouse">
    </main>    
    <div id="app">
        <div class="hero-text container px-md-20 px-30 text-center">
            <div class="px-md-30">
                <h2 class="mb-0">用天下出版修煉</h2>
                <h1 class="text-primary mt-5 mb-30">博學力</h1>
                <p>
                    你的改變，從博覽群書的博學力修煉開始！
                </p>
                <div class="bg-primary mx-auto my-30"></div>
            </div>
            <div class="bg-white p-30" v-if="!challenge.book">
                <h4 class="mb-10">任務說明</h4>
                <p class="mb-0">
                    <span class="d-md-inline-block">邀您體驗天下雜誌出版的多元面向，</span><span class="d-md-inline-block">觀看任一書摘、音頻、影片，即可完成任務！</span><span class="d-inline-block">立即獲得天下網路書店 $50 購書優惠</span>
                </p>
            </div>
            <div class="bg-white p-30" v-else>
                <h4 class="mb-10">完成挑戰</h4>
                <p class="mb-20">
                    <span class="d-block">恭喜您已完成博學力修練任務！</span>
                    <span class="d-inline-block">立刻到天下網路書店，結帳時輸入 <span class="text-primary">{{ code }}</span> 即可折價 50 元！</span>
                </p>
                <a href="https://shop.cwbook.com.tw/" class="challenge-btn btn btn-lg btn-primary d-table mx-auto fs-5" target="_blank" rel="noopener noreferrer">
                    前往購書
                    <img src="assets/images/click.png" alt="">
                </a>
            </div>
        </div>
        <section id="article" class="px-md-20 pb-md-0 pb-50">
            <div class="container px-30">
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-jim py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="1" data-rellax-desktop-speed="0" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#EA6120"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#EA6120"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="-1.5" data-rellax-desktop-speed="-1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#EA6120"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-primary">01.</h3>
                            <h2 class="name">Jim Collins《恆久卓越的修煉》</h2>
                            <p class="fs-7">
                                《從Ａ到Ａ+》管理大師的重量級新經典！為何有些企業能夠屹立數十年？從新創到永續，厚植經營實力最重要的一張藍圖，依循前進，一步步帶領公司邁向卓越。
                            </p>
                            <button
                                type="button"
                                @click="clickPlayer('pdf', 'jim')"
                                class="challenge-btn btn btn-lg text-white bg-primary fs-5"
                            >
                                我要看書摘
                                <img src="assets/images/click.png" alt="">
                            </button>
                        </div>
                        <div class="card-image rellax card-cover mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="0.5">
                            <img src="assets/images/publishing/book-1.jpg" class="img-fluid" alt="Jim Collins《恆久卓越的修煉》">
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-tsai3 py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="-1" data-rellax-desktop-speed="-1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#505A78"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.1" data-rellax-desktop-speed="-0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505A78"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="1.2" data-rellax-desktop-speed="1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505A78"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-success">02.</h3>
                            <h2 class="name">
                                今年要有高績效，先從這裡開始
                            </h2>
                            <p class="fs-7">
                                微軟前大中華區副總裁蔡恩全在新書《高效經理人的管理備忘錄》裡分享，想讓老闆在短時間內看見自己的專業、績效？你必須隨時準備好「三種互動對話」。
                            </p>
                            <button
                                type="button"
                                id="tsai_player"
                                @click="
                                    clickPlayer('audio', 'tsai');
                                    book.audio.tsai.state = !book.audio.tsai.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-success fs-5"
                            >
                                <span class="duration tsai_player-duration"></span>
                                <span class="text" v-if="!book.audio.tsai.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!book.audio.tsai.state">
                            </button>
                        </div>
                        <div class="card-image rellax card-cover mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="-0.5">
                            <img src="assets/images/publishing/book-2.jpg" class="img-fluid" alt="今年要有高績效，先從這裡開始">
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-biming py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="1.3" data-rellax-desktop-speed="-1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#858D7F"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.1" data-rellax-desktop-speed="0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#858D7F"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="0" data-rellax-desktop-speed="0.25" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#858D7F"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-info">03.</h3>
                            <h2 class="name">如何打開身體糾結，吃好、睡好、不生病？</h2>
                            <p class="fs-7">
                                糾結的盡頭便是腫瘤！蔡璧名《鬆開的技道心：穴道導引應用錦囊》，帶你啟動自身體內「鬆開」的魔術方塊，重返鬆柔的自我
                            </p>
                            <button
                                type="button"
                                id="tsai_player"
                                @click="clickPlayer('video', 'biming')"
                                class="challenge-btn btn btn-lg text-white bg-info fs-5"
                            >
                                我要看影片
                                <img src="assets/images/click.png" alt="">
                            </button>
                        </div>
                        <div class="card-image rellax card-video mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="-0.5">
                            <button
                                type="button"
                                id="tsou_player"
                                @click="clickPlayer('video', 'biming')"
                                class="img ratio ratio-16x9"
                            >
                                <img src="assets/images/publishing/video-1.jpg" class="img-fluid" alt="蔡璧名">
                                <div class="btn"><i class="icon icon-play-solid"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-sun2 py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="0.7" data-rellax-desktop-speed="0.1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#4B5356"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="0.5" data-rellax-desktop-speed="0" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#4B5356"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="1.1" data-rellax-desktop-speed="0.3" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#4B5356"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-warning">04.</h3>
                            <h2 class="name">景氣預測權威，帶你培養解讀趨勢的內功</h2>
                            <p class="fs-7">
                                各種經濟指標、專業詞彙總是讓人難以理解？《孫主任的經濟筆記》以關鍵時事切入、系統化分析，讓讀者更容易理解當今的局勢變化。
                            </p>
                            <button
                                type="button"
                                id="tsai_player"
                                @click="clickPlayer('video', 'sun')"
                                class="challenge-btn btn btn-lg text-white bg-warning fs-5"
                            >
                                我要看影片
                                <img src="assets/images/click.png" alt="">
                            </button>
                        </div>
                        <div class="card-image rellax card-video mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="-0.5">
                            <button
                                type="button"
                                id="tsou_player"
                                @click="clickPlayer('video', 'sun')"
                                class="img ratio ratio-16x9"
                            >
                                <img src="assets/images/publishing/video-2.jpg" class="img-fluid" alt="孫明德">
                                <div class="btn"><i class="icon icon-play-solid"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pt-60 pb-md-0 pb-60 mb-md-0 mb-40">
                    <div class="py-md-40"></div>
                    <div class="card-section card-section-facebook py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="-0.5" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#505A78"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="-0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505A78"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="1.8" data-rellax-desktop-speed="0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505A78"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-success">05.</h3>
                            <h2 class="name">《後臉書時代》精彩書摘</h2>
                            <p class="fs-7">
                                《金融時報》年度最佳科技新書！最高採訪權限，九次親訪祖克柏，領先分析祖克柏邁向元宇宙的趨力與企圖。
                            </p>
                            <button
                                type="button"
                                @click="clickPlayer('pdf', 'facebook')"
                                class="challenge-btn btn btn-lg text-white bg-success fs-5"
                            >
                                我要看書摘
                                <img src="assets/images/click.png" alt="">
                            </button>
                        </div>
                        <div class="card-image rellax card-cover mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="-0.1">
                            <div class="img">
                                <img src="assets/images/publishing/book-3.jpg" class="img-fluid" alt="後臉書時代">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-md-60">
                    <div class="card-section card-section-clean py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="0.2" data-rellax-desktop-speed="-0.2" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#858D7F"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.1" data-rellax-desktop-speed="0.1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#858D7F"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="0.5" data-rellax-desktop-speed="-0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#858D7F"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-info">06.</h3>
                            <h2 class="name">放下過度的自我期許，才能夠接近真實的自己</h2>
                            <p class="fs-7">
                                豐盈的人生比起拚命囤積，更需要好好整理。《我要的新人生》用五個步驟，幫你刪除人生多餘的負擔，徹底清理環境、情緒到人際關係，找回令人怦然心動的自己。
                            </p>
                            <button
                                type="button"
                                id="clean_player"
                                @click="
                                    clickPlayer('audio', 'clean');
                                    book.audio.clean.state = !book.audio.clean.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-info fs-5"
                            >
                                <span class="duration clean_player-duration"></span>
                                <span class="text" v-if="!book.audio.clean.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!book.audio.clean.state">
                            </button>
                        </div>
                        <div class="card-image rellax card-cover mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="-0.4">
                            <div class="img">
                                <img src="assets/images/publishing/book-4.jpg" class="img-fluid" alt="我要的新人生">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-60">
                    <a href="index.html#challenge" class="challenge-btn btn btn-lg btn-primary fs-5 d-table mx-auto">參加其他挑戰</a>
                </div>
            </div>
        </section>
        <button type="button" id="goTop" onclick="gotop();">
            <i class="icon icon-arrow-top"></i>
        </button>
        <footer class="fs-8 text-white bg-warning mt-60">
            <div class="container py-20">
                <div class="content">
                    <span class="d-block">
                        <span class="d-inline-block">讀者服務專線：886-2-2662-0332</span>
                        <span class="d-inline-block">服務時間：週一～週五 09:00~17:30</span>
                    </span>
                    <span class="d-block">Copyright © 2022 天下雜誌</span>
                </div>
            </div>
        </footer>
        <div class="modal modal-success fade show" id="successModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" @click="closeModal">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-40">
                        <div class="py-40 text-center">
                            <div class="puzzle-group mx-auto mb-10">
                                <img
                                    class="webaccess"
                                    src="assets/images/puzzle/webaccess-grayscale.png" alt="">
                                <img
                                    class="webaccess" :class="{'active': challenge.read}"
                                    src="assets/images/puzzle/webaccess.png" alt="">
                                <img
                                    class="cwlearning"
                                    src="assets/images/puzzle/cwlearning-grayscale.png" alt="">
                                <img
                                    class="cwlearning" :class="{'success': challenge.learn}"
                                    src="assets/images/puzzle/cwlearning.png" alt="">
                                <img
                                    class="publishing"
                                    src="assets/images/puzzle/publishing-grayscale.png" alt="">
                                <img
                                    class="publishing" :class="{'active': challenge.book}"
                                    src="assets/images/puzzle/publishing.png" alt="">
                            </div>
                            <h3 class="fs-1 mb-10">完成挑戰</h3>
                            <p class="fs-6 mb-20">
                                <span class="d-block">恭喜您已完成博學力修練任務！</span>
                                <span class="d-inline-block">立刻到天下網路書店，結帳時輸入 <span class="text-primary">{{ code }}</span> 即可折價 50 元！</span>
                            </p>
                            <a href="https://shop.cwbook.com.tw/" class="challenge-btn btn btn-lg btn-primary d-table mx-auto fs-5" target="_blank" rel="noopener noreferrer">
                                前往購書
                                <img src="assets/images/click.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-video fade show" id="videoModal">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" @click="closeModal('video')">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="ratio ratio-16x9">
                        <iframe width="560" height="315" :src="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <section class="formbox fs-8 position-fixed start-0 top-0 opacity-0">
            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" target="nm_iframe" class="sf_form">
                <input type="hidden" name="oid" value="00D2w000006VPp6">
                <input type="hidden" name="retURL" value="http://www.cw.com.tw">
                <!-- 這是選擇性的除錯元素。如果您要在除錯模式下測試，請取消註解這些行。 -->
                <input type="hidden" name="debug" value="1">
                <input type="hidden" name="debugEmail" value="yutingh@cw.com.tw">
                <!-- 這是選擇性的除錯元素。如果您要在除錯模式下測試，請取消註解這些行。 end -->
                <!-- 欄位們 -->
                <div class="contentbox">
                    <p><span class="rq">⁕</span>為必填欄位</p>
                    <div class="inputbox">
                        <label for="last_name">姓名<span class="rq">⁕</span></label>
                        <span class="error blank">此為必填欄位</span>
                        <!-- 名字欄位系統會比對，相同的話無法寫入 -->
                        <input
                            id="last_name"
                            maxlength="40"
                            name="last_name"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="user.name"
                        />
                    </div>
                    <div class="inputbox">
                        <label for="email">電子信箱<span class="rq">⁕</span></label>
                        <span class="error blank">此為必填欄位</span>
                        <span class="error wrong errorMail">請確認電子信箱是否填寫正確</span>
                        <input
                            id="email"
                            maxlength="80"
                            name="email"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="user.email"
                        />
                    </div>
                    <!-- 需寫入備註欄的特殊欄位 -->
                    <div class="inputbox specialbox freetextbox">
                        <label for="company">公司名稱<span class="rq">⁕</span></label>
                        <span class="error blank errorCompany">此為必填欄位</span>
                        <input id="company" name="company" size="20" type="text" class="required" required value="天下" />
                    </div>
                    <!-- 需寫入備註欄的特殊欄位 -->
                    <div class="inputbox specialbox freetextbox">
                        <label for="challenge">挑戰狀態<span class="rq">⁕</span></label>
                        <span class="error blank errorChallenge">此為必填欄位</span>
                        <input
                            id="challenge"
                            name="challenge"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="eventLabel"
                        />
                    </div>
                    <div class="checkbox">
                        <div>
                            <label>
                                <input type="checkbox" name="policy" value="yes" id="policy" checked>
                                <span class="checkmark"></span>我已閱讀並同意個資聲明<span class="rq">⁕</span>
                                <span class="error blank errorPolicy">此為必填欄位</span>
                            </label>
                        </div>
                    </div>
                    <p class="policyword">
                        當您填表完成簽名或勾選﹝我已閱讀並同意﹞並送出資料時，即表示您已閱讀、了解並同意本聲明暨同意書的所有內容。<br>本活動由【客戶名稱】與【天下雜誌股份有限公司】（以下統稱我們）為本服務之目的向您蒐集、處理、利用您的資料包括您的【姓名、電話、Email、工作資訊或其他得以直接或間接識別您個人之資料】，通過遞交此表格，您確認同意我們按照隱私權聲明存儲及處理您的個人資料。【客戶名稱】可能會使用您的個人資料作營銷用途。<br>您可依個人資料保護法規定，就您的個人資料向我們行使下列權利：(1)查詢或請求閱覽(2)請求製給複製本(3)請求補充或更正(4)請求停止蒐集、處理及利用(5)請求刪除。關於您的權益如有任何疑慮，敬請詳閱天下雜誌<a href="https://event.cw.com.tw/policy/" target="_blank">隱私權同意書(個人資料聲明同意書)</a>。
                    </p>
                    <!-- 以下是隱藏的欄位放的div -->
                    <div class="hiddenbox">
                        同意個資聲明:
                        <!-- 依user勾選同意與否帶入對應的值 -->
                        <input id="00N2w00000Hh3Kk" maxlength="80" name="00N2w00000Hh3Kk" size="20" type="text" value="A版" />
                        活動名稱:
                        <!-- 更換活動名稱 預先填好不開放給user填寫 -->
                        <input id="00N2w00000Hh3MH" maxlength="80" name="00N2w00000Hh3MH" size="20" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" />
                        報名日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3C1" name="00N2w00000Hh3C1" size="12" type="text" /></span>
                        活動類型:<textarea id="00N2w00000Hh3MW" name="00N2w00000Hh3MW" rows="3" type="text" wrap="soft"></textarea>
                        名單到期日:
                        <span style="font-size: 80%;">(預先填好不開放給user填寫)</span>
                        <span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3Kz" name="00N2w00000Hh3Kz" size="12" type="text" value="2024/4/30" /></span>
                        同意行銷:
                        <select id="00N2w00000Hh3NF" name="00N2w00000Hh3NF" title="同意行銷">
                            <option value="">--無--</option>
                            <option value="同意" selected>同意</option>
                            <option value="不同意">不同意</option>
                            <option value="待確認">待確認</option>
                        </select>
                        取得BU:
                        <select id="00N2w00000Hh3IA" name="00N2w00000Hh3IA" title="取得BU">
                            <option value="">--無--</option>
                            <option value="集團">集團</option>
                            <option value="天下" selected>天下</option>
                            <option value="親子">親子</option>
                            <option value="康健">康健</option>
                            <option value="Cheers">Cheers</option>
                        </select>
                        <p>以下為 【付費活動必填欄位】</p>
                        會員帳號:<input id="00N2w00000Hka6z" maxlength="80" name="00N2w00000Hka6z" size="20" type="text" />
                        訂單資訊:<textarea id="00N2w00000DOPqA" name="00N2w00000DOPqA" rows="3" type="text" wrap="soft"></textarea>
                        <p style="border-top: 1px dotted #666; padding-top: 1rem; margin-top: 2rem;">以下為【非必填欄位】</p>
                        從事行業:<input id="00N2w00000Hh3BS" maxlength="255" name="00N2w00000Hh3BS" size="20" type="text" />
                        活動日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3MM" name="00N2w00000Hh3MM" size="12" type="text" /></span>
                        活動區域:<textarea id="00N2w00000Hh3MR" name="00N2w00000Hh3MR" rows="3" type="text" wrap="soft"></textarea>
                        備註:<textarea id="00N2w00000Hh3Mv" name="00N2w00000Hh3Mv" rows="3" type="text" wrap="soft"></textarea>
                        subBU:<textarea id="00N2w00000Hh3LO" name="00N2w00000Hh3LO" rows="3" type="text" wrap="soft"></textarea>
                        廣告客戶名稱:<textarea id="00N2w00000Hh3Ld" name="00N2w00000Hh3Ld" rows="3" type="text" wrap="soft"></textarea>
                        名單來源:<input id="00N2w00000Hh3M7" name="00N2w00000Hh3M7" rows="3" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" >
                        <div class="checkbox">
                            <div>
                                <label>
                                    <input type="checkbox" id="00N2w00000HiIrE" name="00N2w00000HiIrE" value="1">
                                    <span></span>是否為PR
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- 以下是隱藏的欄位放的div end -->
                    <button type="button" class="submitbtn" id="sendBtn">送出</button>
                    <span class="error errorSubmit">* 請確認上方欄位皆已正確填寫</span>
                    <input type="submit" name="submit" class="submitbtn" id="sfBtn">
                </div>
                <!-- 欄位們 end -->
                <!-- 為了不跳頁，用來放感謝頁的iframe -->
                <div class="hiddenIframe" style="width: 100%;height: 100px; display: none;">
                    <p>感謝頁在這</p>
                    <iframe id="id_iframe" name="nm_iframe" width="0" height="0" frameBorder="0" style="width:100%; height: 100%"></iframe>
                </div>
                <!-- 為了不跳頁，用來放感謝頁的iframe end -->
            </form>
            <div class="tks">
                <p>感謝您的填寫<br>將會有專人與您聯繫</p>
            </div>
        </section>
        <div class="modal-backdrop show"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="assets/js/getdata_sf.js"></script>
    <script src="assets/js/inner.js"></script>
    <script src="assets/js/book.js?v03284" type="module"></script>
    <script>
    </script>
</body>
</html>