<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索天下，觸手可及——3D 知識力任務大挑戰</title>
    <meta name="keywords" content="3D知識力,抽獎,任務,全家咖啡,恆毅力,博學力,思辨力,線上課程,天下雜誌,天下學習,天下出版,天下雜誌出版,天下報導,職場,自我學習,天下全閱讀">
    <meta name="description" content="在職場這場馬拉松中，唯有持續自我學習，才有機會帶動團隊創新動能，朝學習性組織前進。只要重複了90天，就會形成穩定的習慣，讓我們從養成3D知識力開始吧！">
    <link rel="shortcut icon" href="https://www.cw.com.tw/assets_new/img/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://www.cw.com.tw/member-2022/">
    <meta property="og:title" content="3D 知識力任務大挑戰 - 探索天下 觸手可及">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cw.com.tw/member-2022/" />
    <meta property="og:image" content="https://www.cw.com.tw/member-2022/assets/images/share.jpg" />
    <meta property="og:site_name" content="探索天下，觸手可及——3D 知識力任務大挑戰" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:description" content="在職場這場馬拉松中，唯有持續自我學習，才有機會帶動團隊創新動能，朝學習性組織前進。只要重複了90天，就會形成穩定的習慣，讓我們從養成3D知識力開始吧！">
    <meta property="fb:admins" content="597428623" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="3D 知識力任務大挑戰 - 探索天下 觸手可及" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXLD77');</script>
    <!-- End Google Tag Manager -->    
</head>
<body class="inner-page webaccess-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <header class="position-fixed top-0 w-100">
        <div class="container-fluid d-flex align-items-center py-20 px-md-40">
            <a href="https://www.cw.com.tw/" class="logo">
                <img src="https://www.cw.com.tw/images/common/logo.svg" height="40" alt="">
            </a>
        </div>
    </header>
    <main>
        <section class="key-visual">
            <img id="kv" class="opacity-50" src="assets/images/visual-grid.svg" width="1200" alt="">
            <div class="flip-group">
                <div class="flip flip-x-1 flip-5-4 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-5-3 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-3-3 flip-north" data-offset="80"></div>
                <div class="flip flip-x-1 flip-1-1 flip-west" data-offset="130"></div>
                <div class="flip flip-x-1 flip-1-2 flip-east" data-offset="90"></div>
                <div class="flip flip-y-1 flip-2-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-2-1 flip-east" data-offset="130"></div>
                <div class="flip flip-x-1 flip-2-3 flip-west" data-offset="170"></div>
                <div class="flip flip-x-2 flip-2-5 flip-north" data-offset="50"></div>
                <div class="flip flip-y-1 flip-3-1 flip-north" data-offset="130"></div>
                <div class="flip flip-y-1 flip-3-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-4-2 flip-west" data-offset="180"></div>
                <div class="flip flip-y-1 flip-2-4 flip-south" data-offset="150"></div>
                <div class="flip flip-x-1 flip-4-1 flip-east" data-offset="140"></div>
                <div class="flip flip-x-1 flip-4-3 flip-east" data-offset="120"></div>
                <div class="flip flip-x-2 flip-5-1 flip-west" data-offset="160"></div>
                <div class="flip flip-y-1 flip-5-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-5-5 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-6-1 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-7-1 flip-south" data-offset="70"></div>
                <div class="flip flip-y-1 flip-7-2 flip-south" data-offset="160"></div>
                <div class="flip flip-x-1 flip-8-2 flip-south" data-offset="100"></div>
                <div class="flip flip-x-2 flip-8-3 flip-west" data-offset="100">
                    <span>Daily</span>
                </div>
                <div class="flip flip-x-1 flip-9-1 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-2 flip-west" data-offset="100"></div>
                <div class="flip flip-y-1 flip-9-4 flip-north" data-offset="120"></div>
                <div class="flip flip-y-1 flip-9-7 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-9-3 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-6 flip-east" data-offset="160"></div>
                <div class="flip flip-x-1 flip-9-5 flip-west" data-offset="270"></div>
                <div class="flip flip-x-2 flip-10-1 flip-north" data-offset="90"></div>
                <div class="flip flip-x-1 flip-10-2 flip-east" data-offset="125"></div>
                <div class="flip flip-y-1 flip-10-3 flip-south" data-offset="130"></div>
                <div class="flip flip-x-2 flip-11-2 flip-south" data-offset="25"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west" data-offset="140"></div>
                <div class="flip flip-x-2 flip-8-1 flip-east" data-offset="150"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west flip-transparent" data-offset="140">
                    <span class="sentance">
                        <span>探</span>
                        <span>索</span>
                        <span>天</span>
                        <span>下</span>
                    </span>
                </div>
                <div class="flip flip-x-2 flip-8-1 flip-east flip-transparent" data-offset="150">
                    <span class="sentance">
                        <span>觸</span>
                        <span>手</span>
                        <span>可</span>
                        <span>及</span>
                    </span>
                </div>
                <div class="flip flip-x-1 flip-11-1 flip-west" data-offset="110">
                    <span>
                        <span class="sentance">
                            <span>3D</span>
                            <span>知</span>
                            <span>識</span>
                            <span>力</span>
                        </span>
                        <span class="sentance">
                            <span>任</span>
                            <span>務</span>
                            <span>大</span>
                            <span>挑</span>
                            <span>戰</span>
                        </span>
                    </span>
                </div>
                <div class="flip flip-y-1 flip-11-3 flip-south" data-offset="80">
                    <span>Dialogue</span>
                </div>
                <div class="flip flip-x-2 flip-12-1 flip-south" data-offset="50"></div>
                <div class="flip flip-x-1 flip-13-1 flip-west" data-offset="200">
                    <span>Dig<br/>Deep</span>
                </div>
            </div>
        </section>
        <img src="assets/images/mouse.png" alt="往下滾icon" class="icon-mouse">
    </main>    
    <div id="app">
        <div class="hero-text container px-md-20 px-30 text-center">
            <div class="px-md-30">
                <h2 class="mb-0">用天下報導修煉</h2>
                <h1 class="text-primary mt-5 mb-30">恆毅力</h1>
                <p>
                    <span class="d-inline-block">知識的銳利與厚度，在於讓自己比前一天更進步，</span><span class="d-inline-block">天下報導將鍛鍊你的恆毅力，提高你的格局與眼界。</span>
                </p>
                <div class="bg-primary mx-auto my-30"></div>
            </div>
            <div class="bg-white p-30" v-if="!challenge.read">
                <h4 class="mb-10">任務說明</h4>
                <p class="mb-0">
                    <span class="d-inline-block">快來聽聽看恆毅力的實踐者如何保持巔峰。</span><span class="d-inline-block">點擊以下任一音頻，聽完即可完成任務！還可立即領取加碼驚喜禮物！</span>
                </p>
            </div>
            <div class="bg-white p-30" v-else>
                <h4 class="mb-10">完成挑戰</h4>
                <p class="mb-20">
                    <span class="d-inline-block">恭喜您已完成恆毅力修練任務！</span><span class="d-inline-block">請立刻用這個連結加入天下 Line 好友，</span><span class="d-inline-block">領取加碼禮物<span class="text-primary">「天下全閱讀」</span>30 天！</span></span>
                </p>
                <a :href="code" class="challenge-btn btn btn-lg btn-primary d-table mx-auto fs-5" target="_blank" rel="noopener noreferrer">
                    領取加碼禮物
                    <img src="assets/images/click.png" alt="">
                </a>
            </div>
        </div>
        <section id="article" class="px-md-20 pb-md-0 pb-50 pt-md-0 pt-60">
            <div class="container px-30">
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-hsieh py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="1" data-rellax-desktop-speed="-1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#EA6120"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#EA6120"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="-1" data-rellax-desktop-speed="2" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#EA6120"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-primary">01.</h3>
                            <h2 class="name">謝馨慧 X 天下晨間新聞</h2>
                            <p class="fs-7 fw-light">
                                天下晨間新聞，天下編輯每天凌晨更新。當你一覺醒來，拿起手機，就可掌握不曾停止運轉的世界大事以及當天台灣最關鍵的新聞。打開天下官網、天下每日報 App，速讀天下晨間新聞，是展開每一個早晨的必要！
                            </p>
                            <button
                                type="button"
                                id="hsieh_player"
                                @click="
                                    clickPlayer('hsieh');
                                    webaccess.hsieh.state = !webaccess.hsieh.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-primary fs-5"
                            >
                                <span class="duration hsieh_player-duration"></span>
                                <span class="text" v-if="!webaccess.hsieh.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.hsieh.state">
                            </button>
                        </div>
                        <div class="card-image rellax mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="-0.5">
                            <div class="img">
                                <img src="assets/images/webaccess/hsieh.jpg" class="img-fluid" alt="謝馨慧">
                            </div>
                            <small class="d-block text-center mt-10">
                                奧美集團董事總經理<br/>
                                台灣奧美集團裡第一位從實習生做起的董事總經理
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-ding py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="1" data-rellax-desktop-speed="-1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#505a78"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="0" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505a78"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505a78"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-success">02.</h3>
                            <h2 class="name">丁學文 X 經濟學人@天下</h2>
                            <p class="fs-7 fw-light">
                                英國《經濟學人》，在台與天下雜誌獨家授權合作。天下編輯每日精選最有力道的分析與評論。丁學文在「聽天下」podcast 節目中，導讀最新封面故事及重要趨勢。無論是看或聽，都是你快速進入全球決策者思維的捷徑。
                            </p>
                            <button
                                type="button"
                                id="ding_player"
                                @click="
                                    clickPlayer('ding');
                                    webaccess.ding.state = !webaccess.ding.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-success fs-5"
                            >
                                <span class="duration ding_player-duration"></span>
                                <span class="text" v-if="!webaccess.ding.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.ding.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto rellax" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="0.5">
                            <div class="img">
                                <img src="assets/images/webaccess/ding.jpg" class="img-fluid" alt="丁學文">
                            </div>
                            <small class="d-block text-center mt-10">
                                金庫資本管理合夥人兼總經理<br/>
                                投資區域涵蓋台灣、印度、東南亞地區
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-sun py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="0.5" data-rellax-desktop-speed="-1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#858d7f"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.25" data-rellax-desktop-speed="1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#858d7f"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="1.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#858d7f"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-info">03.</h3>
                            <h2 class="name">孫明德 X 天下產業報導</h2>
                            <p class="fs-7 fw-light">
                                哪家公司成長最快？獲利最高？未來商業先機為何？ 天下記者深度分析產業動態、企業案例，編纂「天下兩千大資料庫」持續不輟近 20 年。天下產業報導，不僅有新聞速度，更有歷史縱深，讓你的投資與商業判斷更精準。
                            </p>
                            <button
                                type="button"
                                id="sun_player"
                                @click="
                                    clickPlayer('sun');
                                    webaccess.sun.state = !webaccess.sun.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-info fs-5"
                            >
                                <span class="duration sun_player-duration"></span>
                                <span class="text" v-if="!webaccess.sun.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.sun.state">
                            </button>
                        </div>
                        <div class="card-image rellax mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="0.5">
                            <div class="img">
                                <img src="assets/images/webaccess/sun.jpg" class="img-fluid" alt="孫明德">
                            </div>
                            <small class="d-block text-center mt-10">
                                台灣經濟研究院景氣預測中心主任<br/>
                                善於長期分析全球及台灣景氣變化
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-hua py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="0.1" data-rellax-desktop-speed="1.2" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#4b5356"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.7" data-rellax-desktop-speed="0.1" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#4b5356"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#4b5356"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-warning">04.</h3>
                            <h2 class="name">花敬群 X 天下調查報導</h2>
                            <p class="fs-7 fw-light">
                                天下調查報導，從土地正義、稅制公平、教育改革、公司治理、政治清明各面向，為中產階級發聲，從本質面釐清事實，提出見解；不只是批判問題，並積極提出解決方案。幫助你在這個真相難辨的時代，找到思考的脈絡與方向。
                            </p>
                            <button
                                type="button"
                                id="hua_player"
                                @click="
                                    clickPlayer('hua');
                                    webaccess.hua.state = !webaccess.hua.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-warning fs-5"
                            >
                                <span class="duration hua_player-duration"></span>
                                <span class="text" v-if="!webaccess.hua.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.hua.state">
                            </button>
                        </div>
                        <div class="card-image rellax mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="0.25">
                            <div class="img">
                                <img src="assets/images/webaccess/hua.jpg" class="img-fluid" alt="花敬群">
                            </div>
                            <small class="d-block text-center mt-10">
                                內政部政務次長<br/>
                                從學者轉任政務官，勇於承擔政策導向
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0 mb-40">
                    <div class="card-section card-section-liu py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="0.6" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#ea6120"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.15" data-rellax-desktop-speed="-0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#ea6120"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="0.2" data-rellax-desktop-speed="-0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#ea6120"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-primary">05.</h3>
                            <h2 class="name">劉鴻徵 X 服務一點訣</h2>
                            <p class="fs-7 fw-light">
                                鼎泰豐為何不喊歡迎光臨？摩斯為何是被漢堡耽誤的紅茶店？不談抽象概念，只講關鍵案例，服務一點訣專欄，每週四專文報導、聽天下節目深度訪談，不論你是哪一行，都不容錯過的國內外服務心法與經營要訣！
                            </p>
                            <button
                                type="button"
                                id="liu_player"
                                @click="
                                    clickPlayer('liu');
                                    webaccess.liu.state = !webaccess.liu.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-primary fs-5"
                            >
                                <span class="duration liu_player-duration"></span>
                                <span class="text" v-if="!webaccess.liu.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.liu.state">
                            </button>
                        </div>
                        <div class="card-image rellax mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="0.25">
                            <div class="img">
                                <img src="assets/images/webaccess/liu.jpg" class="img-fluid" alt="劉鴻徵">
                            </div>
                            <small class="d-block text-center mt-10">
                                全聯行銷長<br/>
                                擅創造社群話題，行銷界譽為「鬼才」
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-md-60 mb-md-0">
                    <div class="card-section card-section-tsai py-60">
                        <svg class="flip flip-1 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="-1" width="46" height="133" viewBox="0 0 46 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.7786 0L0 26.34L0 132.935L45.7786 106.5V0Z" fill="#505a78"/>
                        </svg>
                        <svg class="flip flip-2 rellax" data-rellax-speed="-0.5" data-rellax-desktop-speed="0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505a78"/>
                        </svg>
                        <svg class="flip flip-3 rellax" data-rellax-speed="0.5" data-rellax-desktop-speed="0.5" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 78.9487L45.7785 52.2839V0L0 26.142V78.9487Z" fill="#505a78"/>
                        </svg>
                        <div class="card-text" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="index text-success">06.</h3>
                            <h2 class="name">蔡政宏 X 聽天下 Podcast</h2>
                            <p class="fs-7 fw-light">
                                精闢觀點、深度解析，不只用看的也可以用聽的！ 提供聚焦財經、國際、趨勢的優質新聞、訪談與評論，用最短時間吸收最豐沛的資訊。
                            </p>
                            <button
                                type="button"
                                id="tsai_player"
                                class="challenge-btn btn btn-lg text-white bg-gray fs-5"
                                disabled
                            >
                                敬請期待
                            </button>
                        </div>
                        <div class="card-image rellax mt-md-0 mt-30 mx-md-0 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-delay="200" data-rellax-speed="0" data-rellax-desktop-speed="0.15">
                            <div class="img">
                                <img src="assets/images/webaccess/tsai.jpg" class="img-fluid" alt="蔡政宏">
                            </div>
                            <small class="d-block text-center mt-10">
                                in89 豪華影城執行長<br/>
                                熬過 SARS 風暴、走過虧損低潮，一步步以創新思維翻新
                            </small>
                        </div>
                    </div>
                </div>
                <div class="pt-60">
                    <a href="index.html#challenge" class="challenge-btn btn btn-lg btn-primary fs-5 d-table mx-auto">參加其他挑戰</a>
                </div>
            </div>
        </section>
        <button type="button" id="goTop" onclick="gotop();">
            <i class="icon icon-arrow-top"></i>
        </button>
        <footer class="fs-8 text-white bg-warning mt-60">
            <div class="container py-20">
                <div class="content">
                    <span class="d-block">
                        <span class="d-inline-block">讀者服務專線：886-2-2662-0332</span>
                        <span class="d-inline-block">服務時間：週一～週五 09:00~17:30</span>
                    </span>
                    <span class="d-block">Copyright © 2022 天下雜誌</span>
                </div>
            </div>
        </footer>
        <div class="modal modal-success fade show" id="successModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" @click="closeModal">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-40">
                        <div class="py-40 text-center">
                            <div class="puzzle-group mx-auto mb-10">
                                <img
                                    class="webaccess"
                                    src="assets/images/puzzle/webaccess-grayscale.png" alt="">
                                <img
                                    class="webaccess" :class="{'success': challenge.read}"
                                    src="assets/images/puzzle/webaccess.png" alt="">
                                <img
                                    class="cwlearning"
                                    src="assets/images/puzzle/cwlearning-grayscale.png" alt="">
                                <img
                                    class="cwlearning" :class="{'active': challenge.learn}"
                                    src="assets/images/puzzle/cwlearning.png" alt="">
                                <img
                                    class="publishing"
                                    src="assets/images/puzzle/publishing-grayscale.png" alt="">
                                <img
                                    class="publishing" :class="{'active': challenge.book}"
                                    src="assets/images/puzzle/publishing.png" alt="">
                            </div>
                            <h3 class="fs-1 mb-10">完成挑戰</h3>
                            <p class="fs-6 mb-20">
                                恭喜您已完成恆毅力修練任務！<br/>
                                請立刻用這個連結加入天下 Line 好友，領取加碼禮物<span class="text-primary">「天下全閱讀」</span>30 天！
                            </p>
                            <a :href="code" class="challenge-btn btn btn-lg btn-primary d-table mx-auto fs-5" target="_blank" rel="noopener noreferrer">
                                領取加碼禮物
                                <img src="assets/images/click.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="formbox fs-8 position-fixed start-0 top-0 opacity-0">
            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" target="nm_iframe" class="sf_form">
                <input type="hidden" name="oid" value="00D2w000006VPp6">
                <input type="hidden" name="retURL" value="http://www.cw.com.tw">
                <!-- 欄位們 -->
                <div class="contentbox">
                    <p><span class="rq">⁕</span>為必填欄位</p>
                    <div class="inputbox">
                        <label for="last_name">姓名<span class="rq">⁕</span></label>
                        <span class="error blank">此為必填欄位</span>
                        <!-- 名字欄位系統會比對，相同的話無法寫入 -->
                        <input
                            id="last_name"
                            maxlength="40"
                            name="last_name"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="user.name"
                        />
                    </div>
                    <div class="inputbox">
                        <label for="email">電子信箱<span class="rq">⁕</span></label>
                        <span class="error blank">此為必填欄位</span>
                        <span class="error wrong errorMail">請確認電子信箱是否填寫正確</span>
                        <input
                            id="email"
                            maxlength="80"
                            name="email"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="user.email"
                        />
                    </div>
                    <!-- 需寫入備註欄的特殊欄位 -->
                    <div class="inputbox specialbox freetextbox">
                        <label for="company">公司名稱<span class="rq">⁕</span></label>
                        <span class="error blank errorCompany">此為必填欄位</span>
                        <input id="company" name="company" size="20" type="text" class="required" required value="天下" />
                    </div>
                    <!-- 需寫入備註欄的特殊欄位 -->
                    <div class="inputbox specialbox freetextbox">
                        <label for="challenge">挑戰狀態<span class="rq">⁕</span></label>
                        <span class="error blank errorChallenge">此為必填欄位</span>
                        <input
                            id="challenge"
                            name="challenge"
                            size="20"
                            type="text"
                            class="required"
                            required
                            v-model="eventLabel"
                        />
                    </div>
                    <div class="checkbox">
                        <div>
                            <label>
                                <input type="checkbox" name="policy" value="yes" id="policy" checked>
                                <span class="checkmark"></span>我已閱讀並同意個資聲明<span class="rq">⁕</span>
                                <span class="error blank errorPolicy">此為必填欄位</span>
                            </label>
                        </div>
                    </div>
                    <p class="policyword">
                        當您填表完成簽名或勾選﹝我已閱讀並同意﹞並送出資料時，即表示您已閱讀、了解並同意本聲明暨同意書的所有內容。<br>本活動由【客戶名稱】與【天下雜誌股份有限公司】（以下統稱我們）為本服務之目的向您蒐集、處理、利用您的資料包括您的【姓名、電話、Email、工作資訊或其他得以直接或間接識別您個人之資料】，通過遞交此表格，您確認同意我們按照隱私權聲明存儲及處理您的個人資料。【客戶名稱】可能會使用您的個人資料作營銷用途。<br>您可依個人資料保護法規定，就您的個人資料向我們行使下列權利：(1)查詢或請求閱覽(2)請求製給複製本(3)請求補充或更正(4)請求停止蒐集、處理及利用(5)請求刪除。關於您的權益如有任何疑慮，敬請詳閱天下雜誌<a href="https://event.cw.com.tw/policy/" target="_blank">隱私權同意書(個人資料聲明同意書)</a>。
                    </p>
                    <!-- 以下是隱藏的欄位放的div -->
                    <div class="hiddenbox">
                        同意個資聲明:
                        <!-- 依user勾選同意與否帶入對應的值 -->
                        <input id="00N2w00000Hh3Kk" maxlength="80" name="00N2w00000Hh3Kk" size="20" type="text" value="A版" />
                        活動名稱:
                        <!-- 更換活動名稱 預先填好不開放給user填寫 -->
                        <input id="00N2w00000Hh3MH" maxlength="80" name="00N2w00000Hh3MH" size="20" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" />
                        報名日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3C1" name="00N2w00000Hh3C1" size="12" type="text" /></span>
                        活動類型:<textarea id="00N2w00000Hh3MW" name="00N2w00000Hh3MW" rows="3" type="text" wrap="soft"></textarea>
                        名單到期日:
                        <span style="font-size: 80%;">(預先填好不開放給user填寫)</span>
                        <span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3Kz" name="00N2w00000Hh3Kz" size="12" type="text" value="2024/4/30" /></span>
                        同意行銷:
                        <select id="00N2w00000Hh3NF" name="00N2w00000Hh3NF" title="同意行銷">
                            <option value="">--無--</option>
                            <option value="同意" selected>同意</option>
                            <option value="不同意">不同意</option>
                            <option value="待確認">待確認</option>
                        </select>
                        取得BU:
                        <select id="00N2w00000Hh3IA" name="00N2w00000Hh3IA" title="取得BU">
                            <option value="">--無--</option>
                            <option value="集團">集團</option>
                            <option value="天下" selected>天下</option>
                            <option value="親子">親子</option>
                            <option value="康健">康健</option>
                            <option value="Cheers">Cheers</option>
                        </select>
                        <p>以下為 【付費活動必填欄位】</p>
                        會員帳號:<input id="00N2w00000Hka6z" maxlength="80" name="00N2w00000Hka6z" size="20" type="text" />
                        訂單資訊:<textarea id="00N2w00000DOPqA" name="00N2w00000DOPqA" rows="3" type="text" wrap="soft"></textarea>
                        <p style="border-top: 1px dotted #666; padding-top: 1rem; margin-top: 2rem;">以下為【非必填欄位】</p>
                        從事行業:<input id="00N2w00000Hh3BS" maxlength="255" name="00N2w00000Hh3BS" size="20" type="text" />
                        活動日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3MM" name="00N2w00000Hh3MM" size="12" type="text" /></span>
                        活動區域:<textarea id="00N2w00000Hh3MR" name="00N2w00000Hh3MR" rows="3" type="text" wrap="soft"></textarea>
                        備註:<textarea id="00N2w00000Hh3Mv" name="00N2w00000Hh3Mv" rows="3" type="text" wrap="soft"></textarea>
                        subBU:<textarea id="00N2w00000Hh3LO" name="00N2w00000Hh3LO" rows="3" type="text" wrap="soft"></textarea>
                        廣告客戶名稱:<textarea id="00N2w00000Hh3Ld" name="00N2w00000Hh3Ld" rows="3" type="text" wrap="soft"></textarea>
                        名單來源:<input id="00N2w00000Hh3M7" name="00N2w00000Hh3M7" rows="3" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" >
                        <div class="checkbox">
                            <div>
                                <label>
                                    <input type="checkbox" id="00N2w00000HiIrE" name="00N2w00000HiIrE" value="1">
                                    <span></span>是否為PR
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- 以下是隱藏的欄位放的div end -->
                    <button type="button" class="submitbtn" id="sendBtn">送出</button>
                    <span class="error errorSubmit">* 請確認上方欄位皆已正確填寫</span>
                    <input type="submit" name="submit" class="submitbtn" id="sfBtn">
                </div>
                <!-- 欄位們 end -->
                <!-- 為了不跳頁，用來放感謝頁的iframe -->
                <div class="hiddenIframe" style="width: 100%;height: 100px; display: none;">
                    <p>感謝頁在這</p>
                    <iframe id="id_iframe" name="nm_iframe" width="0" height="0" frameBorder="0" style="width:100%; height: 100%"></iframe>
                </div>
                <!-- 為了不跳頁，用來放感謝頁的iframe end -->
            </form>
            <div class="tks">
                <p>感謝您的填寫<br>將會有專人與您聯繫</p>
            </div>
        </section>
        <div class="modal-backdrop show"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="assets/js/getdata_sf.js"></script>
    <script src="assets/js/inner.js"></script>
    <script src="assets/js/webaccess.js" type="module"></script>
</body>
</html>