<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索天下，觸手可及——3D 知識力任務大挑戰</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXLD77');</script>
    <!-- End Google Tag Manager -->    
</head>
<body class="inner-page webaccess-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <header class="position-fixed top-0 w-100">
        <div class="container-fluid d-flex align-items-center py-20 px-md-40">
            <a href="https://www.cw.com.tw/" class="logo">
                <img src="https://www.cw.com.tw/images/common/logo.svg" height="40" alt="">
            </a>
        </div>
    </header>
    <main>
        <section class="key-visual">
            <img id="kv" src="assets/images/visual-grid.svg" width="1200" alt="">
            <div class="flip-group">
                <div class="flip flip-x-1 flip-5-4 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-5-3 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-3-3 flip-north" data-offset="80"></div>
                <div class="flip flip-x-1 flip-1-1 flip-west" data-offset="130"></div>
                <div class="flip flip-x-1 flip-1-2 flip-east" data-offset="90"></div>
                <div class="flip flip-y-1 flip-2-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-2-1 flip-east" data-offset="130"></div>
                <div class="flip flip-x-1 flip-2-3 flip-west" data-offset="170"></div>
                <div class="flip flip-x-2 flip-2-5 flip-north" data-offset="50"></div>
                <div class="flip flip-y-1 flip-3-1 flip-north" data-offset="130"></div>
                <div class="flip flip-y-1 flip-3-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-1 flip-4-2 flip-west" data-offset="180"></div>
                <div class="flip flip-y-1 flip-2-4 flip-south" data-offset="150"></div>
                <div class="flip flip-x-1 flip-4-1 flip-east" data-offset="140"></div>
                <div class="flip flip-x-1 flip-4-3 flip-east" data-offset="120"></div>
                <div class="flip flip-x-2 flip-5-1 flip-west" data-offset="160"></div>
                <div class="flip flip-y-1 flip-5-2 flip-north" data-offset="100"></div>
                <div class="flip flip-x-2 flip-5-5 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-6-1 flip-east" data-offset="170"></div>
                <div class="flip flip-x-2 flip-7-1 flip-south" data-offset="70"></div>
                <div class="flip flip-y-1 flip-7-2 flip-south" data-offset="160"></div>
                <div class="flip flip-x-1 flip-8-2 flip-south" data-offset="100"></div>
                <div class="flip flip-x-2 flip-8-3 flip-west" data-offset="100">
                    <span>Daily</span>
                </div>
                <div class="flip flip-x-1 flip-9-1 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-2 flip-west" data-offset="100"></div>
                <div class="flip flip-y-1 flip-9-4 flip-north" data-offset="120"></div>
                <div class="flip flip-y-1 flip-9-7 flip-south" data-offset="80"></div>
                <div class="flip flip-x-1 flip-9-3 flip-east" data-offset="200"></div>
                <div class="flip flip-x-1 flip-9-6 flip-east" data-offset="160"></div>
                <div class="flip flip-x-1 flip-9-5 flip-west" data-offset="270"></div>
                <div class="flip flip-x-2 flip-10-1 flip-north" data-offset="90"></div>
                <div class="flip flip-x-1 flip-10-2 flip-east" data-offset="125"></div>
                <div class="flip flip-y-1 flip-10-3 flip-south" data-offset="130"></div>
                <div class="flip flip-x-2 flip-11-2 flip-south" data-offset="25"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west" data-offset="140"></div>
                <div class="flip flip-x-2 flip-8-1 flip-east" data-offset="150"></div>
                <div class="flip flip-x-2 flip-7-3 flip-west flip-transparent" data-offset="140">
                    <span class="sentance">
                        <span>探</span>
                        <span>索</span>
                        <span>天</span>
                        <span>下</span>
                    </span>
                </div>
                <div class="flip flip-x-2 flip-8-1 flip-east flip-transparent" data-offset="150">
                    <span class="sentance">
                        <span>觸</span>
                        <span>手</span>
                        <span>可</span>
                        <span>及</span>
                    </span>
                </div>
                <div class="flip flip-x-1 flip-11-1 flip-west" data-offset="110">
                    <span>
                        <span class="sentance">
                            <span>3D</span>
                            <span>知</span>
                            <span>識</span>
                            <span>力</span>
                        </span>
                        <span class="sentance">
                            <span>任</span>
                            <span>務</span>
                            <span>大</span>
                            <span>挑</span>
                            <span>戰</span>
                        </span>
                    </span>
                </div>
                <div class="flip flip-y-1 flip-11-3 flip-south" data-offset="80">
                    <span>Dialogue</span>
                </div>
                <div class="flip flip-x-2 flip-12-1 flip-south" data-offset="50"></div>
                <div class="flip flip-x-1 flip-13-1 flip-west" data-offset="200">
                    <span>Dig<br/>Deep</span>
                </div>
            </div>
        </section>
        <img src="assets/images/mouse.png" alt="往下滾icon" class="icon-mouse">
    </main>    
    <div id="app">
        <div class="hero-text container px-md-20 px-30 text-center">
            <div class="px-md-30">
                <h2 class="mb-0">用天下報導修煉</h2>
                <h1 class="text-primary mt-5 mb-30">恆毅力</h1>
                <p>
                    <span class="d-inline-block">知識的銳利與厚度，在於讓自己比前一天更進步，</span><span class="d-inline-block">天下報導將鍛鍊你的恆毅力，提高你的格局與眼界。</span>
                </p>
                <div class="bg-primary mx-auto my-30"></div>
            </div>
            <div class="bg-white p-30" v-if="!challenge.read">
                <h4 class="mb-10">任務說明</h4>
                <p class="mb-0">
                    <span class="d-inline-block">快來聽聽看恆毅力的實踐者如何保持巔峰。</span><span class="d-inline-block">點擊以下任一音頻，聽完即可完成任務！還可立即領取加碼驚喜禮物！</span>
                </p>
            </div>
            <div class="bg-white p-30" v-else>
                <h4 class="mb-10">完成挑戰</h4>
                <p class="mb-20">
                    <span class="d-inline-block">恭喜您已完成恆毅力修練任務！</span><span class="d-inline-block">請立刻用這個連結加入天下 Line 好友，</span><span class="d-inline-block">領取加碼禮物<span class="text-primary">「天下全閱讀」</span>30 天！</span></span>
                </p>
                <a href="https://maac.io/1fKm1" class="challenge-btn btn btn-lg btn-primary d-table mx-auto fs-5" target="_blank" rel="noopener noreferrer">
                    領取加碼禮物
                    <img src="assets/images/click.png" alt="">
                </a>
            </div>
        </div>
        <section id="article" class="px-md-20 pb-md-0 pb-50">
            <div class="container px-30">
                <div class="py-60">
                    <div class="card-section py-60">
                        <div class="card-text">
                            <h3 class="index text-primary">01.</h3>
                            <h2 class="name">謝馨慧 X 天下晨間新聞</h2>
                            <p class="fs-7">
                                天下晨間新聞，天下編輯每天凌晨更新。當你一覺醒來，拿起手機，就可掌握不曾停止運轉的世界大事以及當天台灣最關鍵的新聞。打開天下官網、天下每日報 App，速讀天下晨間新聞，是展開每一個早晨的必要！
                            </p>
                            <button
                                type="button"
                                id="hsieh_player"
                                @click="
                                    clickPlayer('hsieh');
                                    webaccess.hsieh.state = !webaccess.hsieh.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-primary fs-5"
                            >
                                <span class="duration hsieh_player-duration"></span>
                                <span class="text" v-if="!webaccess.hsieh.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.hsieh.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto">
                            <div class="img">
                                <img src="assets/images/webaccess/hsieh.jpg" class="img-fluid" alt="謝馨慧">
                            </div>
                            <small class="d-block text-center mt-10">
                                奧美集團董事總經理<br/>
                                台灣奧美集團裡第一位從實習生做起的董事總經理
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-60">
                    <div class="card-section py-60">
                        <div class="card-text">
                            <h3 class="index text-success">02.</h3>
                            <h2 class="name">丁學文 X 經濟學人@天下</h2>
                            <p class="fs-7">
                                英國《經濟學人》，在台與天下雜誌獨家授權合作。天下編輯每日精選最有力道的分析與評論。丁學文在「聽天下」podcast 節目中，導讀最新封面故事及重要趨勢。無論是看或聽，都是你快速進入全球決策者思維的捷徑。
                            </p>
                            <button
                                type="button"
                                id="ding_player"
                                @click="
                                    clickPlayer('ding');
                                    webaccess.ding.state = !webaccess.ding.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-success fs-5"
                            >
                                <span class="duration ding_player-duration"></span>
                                <span class="text" v-if="!webaccess.ding.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.ding.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto">
                            <div class="img">
                                <img src="assets/images/webaccess/ding.jpg" class="img-fluid" alt="丁學文">
                            </div>
                            <small class="d-block text-center mt-10">
                                金庫資本管理合夥人兼總經理<br/>
                                投資區域涵蓋台灣、印度、東南亞地區
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-60">
                    <div class="card-section py-60">
                        <div class="card-text">
                            <h3 class="index text-info">03.</h3>
                            <h2 class="name">孫明德 X 天下產業報導</h2>
                            <p class="fs-7">
                                哪家公司成長最快？獲利最高？未來商業先機為何？ 天下記者深度分析產業動態、企業案例，編纂「天下兩千大資料庫」持續不輟近 20 年。天下產業報導，不僅有新聞速度，更有歷史縱深，讓你的投資與商業判斷更精準。
                            </p>
                            <button
                                type="button"
                                id="sun_player"
                                @click="
                                    clickPlayer('sun');
                                    webaccess.sun.state = !webaccess.sun.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-info fs-5"
                            >
                                <span class="duration sun_player-duration"></span>
                                <span class="text" v-if="!webaccess.sun.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.sun.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto">
                            <div class="img">
                                <img src="assets/images/webaccess/sun.jpg" class="img-fluid" alt="孫明德">
                            </div>
                            <small class="d-block text-center mt-10">
                                台灣經濟研究院景氣預測中心主任<br/>
                                善於長期分析全球及台灣景氣變化
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-60">
                    <div class="card-section py-60">
                        <div class="card-text">
                            <h3 class="index text-warning">04.</h3>
                            <h2 class="name">花敬群 X 天下調查報導</h2>
                            <p class="fs-7">
                                天下調查報導，從土地正義、稅制公平、教育改革、公司治理、政治清明各面向，為中產階級發聲，從本質面釐清事實，提出見解；不只是批判問題，並積極提出解決方案。幫助你在這個真相難辨的時代，找到思考的脈絡與方向。
                            </p>
                            <button
                                type="button"
                                id="hua_player"
                                @click="
                                    clickPlayer('hua');
                                    webaccess.hua.state = !webaccess.hua.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-warning fs-5"
                            >
                                <span class="duration hua_player-duration"></span>
                                <span class="text" v-if="!webaccess.hua.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.hua.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto">
                            <div class="img">
                                <img src="assets/images/webaccess/hua.jpg" class="img-fluid" alt="花敬群">
                            </div>
                            <small class="d-block text-center mt-10">
                                內政部政務次長<br/>
                                從學者轉任政務官，勇於承擔政策導向
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-60">
                    <div class="card-section py-60">
                        <div class="card-text">
                            <h3 class="index text-primary">05.</h3>
                            <h2 class="name">劉鴻徵 X 服務一點訣</h2>
                            <p class="fs-7">
                                鼎泰豐為何不喊歡迎光臨？摩斯為何是被漢堡耽誤的紅茶店？不談抽象概念，只講關鍵案例，服務一點訣專欄，每週四專文報導、聽天下節目深度訪談，不論你是哪一行，都不容錯過的國內外服務心法與經營要訣！
                            </p>
                            <button
                                type="button"
                                id="liu_player"
                                @click="
                                    clickPlayer('liu');
                                    webaccess.liu.state = !webaccess.liu.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-primary fs-5"
                            >
                                <span class="duration liu_player-duration"></span>
                                <span class="text" v-if="!webaccess.liu.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.liu.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto">
                            <div class="img">
                                <img src="assets/images/webaccess/liu.jpg" class="img-fluid" alt="劉鴻徵">
                            </div>
                            <small class="d-block text-center mt-10">
                                全聯行銷長<br/>
                                擅創造社群話題，行銷界譽為「鬼才」
                            </small>
                        </div>
                    </div>
                </div>
                <div class="py-60">
                    <div class="card-section py-60">
                        <div class="card-text">
                            <h3 class="index text-success">06.</h3>
                            <h2 class="name">蔡政宏 X 聽天下 Podcast</h2>
                            <p class="fs-7">
                                精闢觀點、深度解析，不只用看的也可以用聽的！ 提供聚焦財經、國際、趨勢的優質新聞、訪談與評論，用最短時間吸收最豐沛的資訊。
                            </p>
                            <button
                                type="button"
                                id="tsai_player"
                                @click="
                                    clickPlayer('tsai');
                                    webaccess.tsai.state = !webaccess.tsai.state;
                                "
                                class="challenge-btn btn btn-lg text-white bg-success fs-5"
                            >
                                <span class="duration tsai_player-duration"></span>
                                <span class="text" v-if="!webaccess.tsai.state">
                                    我要聽音頻
                                </span>
                                <span class="text" v-else>
                                    <i class="icon icon-pause-solid me-10"></i> 播放中
                                </span>
                                <img src="assets/images/click.png" alt="" v-if="!webaccess.tsai.state">
                            </button>
                        </div>
                        <div class="card-image mt-30 mx-md-0 mx-auto">
                            <div class="img">
                                <img src="assets/images/webaccess/tsai.jpg" class="img-fluid" alt="蔡政宏">
                            </div>
                            <small class="d-block text-center mt-10">
                                in89 豪華影城執行長<br/>
                                熬過 SARS 風暴、走過虧損低潮，一步步以創新思維翻新
                            </small>
                        </div>
                    </div>
                </div>
                <a href="index.html#challenge" class="challenge-btn btn btn-lg btn-primary fs-5 d-table mx-auto">參加其他挑戰</a>
            </div>
        </section>
        <footer class="fs-8 text-white bg-warning mt-60">
            <div class="container py-20">
                <div class="content">
                    <span class="d-block">
                        <span class="d-inline-block">讀者服務專線：886-2-2662-0332</span>
                        <span class="d-inline-block">服務時間：週一～週五 09:00~17:30</span>
                    </span>
                    <span class="d-block">Copyright © 2022 天下雜誌</span>
                </div>
            </div>
        </footer>
        <div class="modal modal-success fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0 py-50">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cancel"></i>
                    </button>
                    <div class="bg-white p-40">
                        <div class="py-40 text-center">
                            <div class="puzzle-group mx-auto mb-10">
                                <img
                                    class="webaccess"
                                    src="assets/images/puzzle/webaccess-grayscale.png" alt="">
                                <img
                                    class="webaccess" :class="{'success': challenge.read}"
                                    src="assets/images/puzzle/webaccess.png" alt="">
                                <img
                                    class="cwlearning"
                                    src="assets/images/puzzle/cwlearning-grayscale.png" alt="">
                                <img
                                    class="cwlearning" :class="{'active': challenge.learn}"
                                    src="assets/images/puzzle/cwlearning.png" alt="">
                                <img
                                    class="publishing"
                                    src="assets/images/puzzle/publishing-grayscale.png" alt="">
                                <img
                                    class="publishing" :class="{'active': challenge.book}"
                                    src="assets/images/puzzle/publishing.png" alt="">
                            </div>
                            <h3 class="fs-1 mb-10">完成挑戰</h3>
                            <p class="fs-6 mb-20">
                                恭喜您已完成恆毅力修練任務！<br/>
                                請立刻用這個連結加入天下 Line 好友，領取加碼禮物<span class="text-primary">「天下全閱讀」</span>30 天！
                            </p>
                            <a href="https://maac.io/1fKm1" class="challenge-btn btn btn-lg btn-primary d-table mx-auto fs-5" target="_blank" rel="noopener noreferrer">
                                領取加碼禮物
                                <img src="assets/images/click.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="assets/js/kv.js"></script>
    <script src="assets/js/webaccess.js" type="module"></script>
    <script>
    </script>
</body>
</html>