$width: 4.75%;
$height: 5.52%;

$trans-x: 4.350877192982456;
$trans-y: 1.742424242424242;

$kv-flint: #69655a;
$kv-gunsmoke: #888;
$kv-gray: #95928a;
$kv-silver-rust: #c8c9ca;
$kv-silver-sand: #cac1bc;

$kv-abbey: #4b5356;
$kv-bitter: #858d7f;
$kv-bud: #a9afa4;

$kv-domino: #9c8268;
$kv-muddy-waters: #c69c6d;
$kv-bison-hide: #c2b7a3;

$kv-comet: #505a78;
$kv-waterloo: #737b92;

$kv-night-rider: #231815;
$kv-white: #fff;

$kv-yellow: #ff0;
$kv-burning-orange: #ea6120;

.key-visual {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-group {
    position: relative;
    width: 1200px;
    margin-top: -10%;
    margin-bottom: -10%;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }
    .flip {
        position: absolute;
        &.flip-y-1 {
            transform: skewY(30deg);
        }
        &.flip-x-1 {
            transform: skewY(-30deg);
        }
        &.flip-x-2 {
            transform: skew(60deg, -30deg);
        }
        span {
            display: block;
            font-weight: 500;
        }
    }
    .flip-1-1 {
        top: 32.16%;
        left: 9.6%;
        width: $width;
        height: $height;
        background-color: $kv-gunsmoke;
    }
    .flip-1-2 {
        top: 12.94%;
        left: 42.9%;
        width: $width;
        height: $height;
        background-color: $kv-gunsmoke;
    }
    .flip-2-1 {
        top: 33.57%;
        left: 14.35%;
        width: $width * 2;
        height: $height;
        background-color: $kv-muddy-waters;
    }
    .flip-2-2 {
        top: 32.16%;
        left: 19.1%;
        width: $width * 3;
        height: $height;
        background-color: $kv-gray;
    }
    .flip-2-3 {
        top: 26.65%;
        left: 28.67%;
        width: $width;
        height: $height;
        background-color: $kv-domino;
    }
    .flip-2-4 {
        top: 28.05%;
        left: 33.42%;
        width: $width * 2;
        height: $height;
        background-color: $kv-waterloo;
    }
    .flip-2-5 {
        top: 22.563%;
        left: 38.18%;
        width: $width * 2;
        height: $height;
        background-color: $kv-comet;
    }
    .flip-3-1 {
        top: 44.54%;
        left: 4.84%;
        width: $width * 2;
        height: $height;
        background-color: $kv-flint;
    }
    .flip-3-2 {
        top: 43.15%;
        left: 14.35%;
        width: $width;
        height: $height * 3;
        background-color: $kv-gray;
        z-index: 1;
    }
    .flip-3-3 {
        top: 39.03%;
        left: 16.7%;
        width: $width * 2;
        height: $height * 0.5;
        background-color: $kv-white;
    }
    .flip-4-1 {
        top: 33.54%;
        left: 33.35%;
        width: $width * 2;
        height: $height;
        background-color: $kv-flint;
    }
    .flip-4-2 {
        top: 28.05%;
        left: 42.89%;
        width: $width * 2;
        height: $height;
        background-color: $kv-yellow;
    }
    .flip-4-3 {
        top: 21.19%;
        left: 57.18%;
        width: $width;
        height: $height * 3;
        background-color: $kv-burning-orange;
    }
    .flip-5-1 {
        top: 52.81%;
        left: 9.6%;
        width: $width * 4;
        height: $height;
        background-color: $kv-comet;
    }
    .flip-5-2 {
        top: 44.56%;
        left: 23.85%;
        width: $width * 2;
        height: $height * 3;
        background-color: $kv-silver-rust;
    }
    .flip-5-3 {
        top: 36.34%;
        left: 28.6%;
        width: $width * 4;
        height: $height;
        background-color: $kv-night-rider;
    }
    .flip-5-4 {
        top: 30.78%;
        left: 47.65%;
        width: $width * 2 * 1.010526315789474;;
        height: $height;
        background-color: $kv-muddy-waters;
    }
    .flip-5-5 {
        top: 26.68%;
        left: 61.93%;
        width: $width;
        height: $height;
        background-color: $kv-silver-sand;
    }
    .flip-6-1 {
        top: 52.85%;
        left: 19.1%;
        width: $width * 2;
        height: $height;
        background-color: $kv-bitter;
    }
    .flip-7-1 {
        top: 57%;
        left: 28.6%;
        width: $width;
        height: $height;
        background-color: $kv-yellow;
    }
    .flip-7-2 {
        top: 52.85%;
        left: 28.6%;
        width: $width * 2;
        height: $height;
        background-color: $kv-silver-rust;
    }
    .flip-7-3 {
        top: 43.19%;
        left: 33.35%;
        width: $width * 5;
        height: $height;
        background-color: $kv-night-rider;
        &.flip-transparent {
            background-color: transparent;
        }
        span {
            padding-left: 0.3em;
            color: $kv-white;
            font-size: 3.5vw;
            text-align: center;
            letter-spacing: 0.3em;
            transform: scaleY(0.6) translateY(-0.2em);
            @media screen and (min-width: 1200px) {
                font-size: 3em;
            }
        }
    }
    .flip-8-1 {
        top: 40.4%;
        left: 47.66%;
        width: $width * 5;
        height: $height;
        background-color: $kv-night-rider;
        &.flip-transparent {
            background-color: transparent;
        }
        span {
            padding-left: 0.3em;
            color: $kv-white;
            font-size: 3.5vw;
            text-align: center;
            letter-spacing: 0.3em;
            transform: scaleY(0.6) translateY(0.2em);
            @media screen and (min-width: 1200px) {
                font-size: 3em;
            }
        }
    }
    .flip-8-2 {
        top: 26.7%;
        left: 66.72%;
        width: $width;
        height: $height * 2;
        background-color: $kv-gunsmoke;
    }
    .flip-8-3 {
        top: 63.8%;
        left: 21.47%;
        width: $width * 2;
        height: $height * 0.5;
        span {
            padding-left: 0.2em;
            font-size: 1.9vw;
            text-align: center;
            letter-spacing: 0.2em;
            transform: scaleY(0.75) translateY(-0.25rem);
            @media screen and (min-width: 1200px) {
                font-size: 1.6em;
            }
        }
    }
    .flip-9-1 {
        top: 67.86%;
        left: 23.86%;
        width: $width;
        height: $height;
        background-color: $kv-burning-orange;
    }
    .flip-9-2 {
        top: 62.37%;
        left: 33.38%;
        width: $width;
        height: $height;
        background-color: $kv-bison-hide;
    }
    .flip-9-3 {
        top: 52.74%;
        left: 38.1%;
        width: $width * 2 * 1.010526315789474;
        height: $height * 2;
        background-color: $kv-bison-hide;
    }
    .flip-9-4 {
        top: 50.06%;
        left: 42.9%;
        width: $width * 2;
        height: $height;
        background-color: $kv-bud;
    }
    .flip-9-5 {
        top: 45.9%;
        left: 52.4%;
        width: $width * 5;
        height: $height;
        background-color: $kv-flint;
    }
    .flip-9-6 {
        top: 34.89%;
        left: 80.94%;
        width: $width;
        height: $height;
        background-color: $kv-white;
    }
    .flip-9-7 {
        top: 55.56%;
        left: 42.9%;
        width: $width * 2;
        height: $height;
        background-color: $kv-silver-rust;
    }
    .flip-10-1 {
        top: 44.56%;
        left: 73.83%;
        width: $width * 2;
        height: $height * 0.5;
        background-color: $kv-comet;
    }
    .flip-10-2 {
        top: 47.35%;
        left: 76.19%;
        width: $width * 2;
        height: $height;
        background-color: $kv-yellow;
    }
    .flip-10-3 {
        top: 48.65%;
        left: 71.45%;
        width: $width;
        height: $height * 2;
        background-color: $kv-waterloo;
    }
    .flip-11-1 {
        top: 56.86%;
        left: 42.9%;
        width: $width * 5;
        height: $height * 2;
        background-color: $kv-abbey;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            color: $kv-white;
            font-size: 2.9vw;
            text-align: center;
            transform: scaleY(0.75) translateY(-60%);
            @media screen and (min-width: 1200px) {
                font-size: 2.5em;
            }
        }
    }
    .flip-11-2 {
        top: 70.64%;
        left: 38.12%;
        width: $width * 3;
        height: $height;
        background-color: $kv-muddy-waters;
    }
    .flip-11-3 {
        top: 59.68%;
        left: 66.65%;
        width: $width * 3 * 1.005;
        height: $height;
        background-color: $kv-silver-sand;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            font-size: 2.7vw;
            text-align: center;
            transform: translateY(-50%);
            @media screen and (min-width: 1200px) {
                font-size: 2.4em;
            }
        }
    }
    .flip-12-1 {
        top: 52.85%;
        left: 78.6%;
        width: $width * 2;
        height: $height * 0.5;
        background-color: $kv-muddy-waters;
    }
    .flip-13-1 {
        top: 55.58%;
        left: 80.97%;
        width: $width * 2;
        height: $height * 2;
        background-color: $kv-bison-hide;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            font-size: 3vw;
            text-align: center;
            line-height: 1;
            transform: scaleX(0.75) translateY(-50%);
            @media screen and (min-width: 1200px) {
                font-size: 2.5em;
            }
        }
    }
}

