<!DOCTYPE html>
<html lang='zh-Hant-TW'>

<head>
  <meta charset='UTF-8'>
  <!-- title字數大約15~20個中文字 -->
  <title>SF活動名稱</title>
  <meta property='og:title' content='SF活動名稱'>
  <meta property='og:site_name' content='SF活動名稱' />
  <link rel='canonical' href='https://event.cw.com.tw/salesforce/年份+客戶英文識別名/'>
  <meta property='og:url' content='https://event.cw.com.tw/salesforce/年份+客戶英文識別名/' />
  <meta content='zh_TW' property='og:locale'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <!-- Favicon -->
  <link rel='shortcut icon' href='https://www.cw.com.tw/images/common/favicon.ico' type='image/x-icon' />
  <!--控制手機顯示比例固定+禁止縮放-->
  <meta name='viewport'
    content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name='format-detection' content='telephone=no'>
  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,600,700,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/form.css">
  <!-- JS -->
  <script type="text/javascript" src="../assets/js/jquery-1.7.2.min.js"></script>
  <!-- 串salesforce和google sheet -->
  <script type="text/javascript" src="getdata_sf.js"></script>
  <!--gtm-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TXLD77');
  </script>
  <script type='text/javascript'>
    var _sf_startpt = (new Date()).getTime()
  </script>
  <!--gtm end-->
</head>

<body>
  <!--gtm-->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!--gtm end-->
  <section class="formbox">
    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST"
      target="nm_iframe" class="sf_form">
      <input type="hidden" name="oid" value="00D2w000006VPp6">
      <input type="hidden" name="retURL" value="http://www.cw.com.tw">
      <!-- 這是選擇性的除錯元素。如果您要在除錯模式下測試，請取消註解這些行。 -->
      <input type="hidden" name="debug" value="1">
      <input type="hidden" name="debugEmail" value="yutingh@cw.com.tw">
      <!-- 這是選擇性的除錯元素。如果您要在除錯模式下測試，請取消註解這些行。 end -->
      <!-- 欄位們 -->
      <div class="contentbox">
        <p><span class="rq">⁕</span>為必填欄位</p>
        <div class="inputbox">
          <label for="last_name">姓名<span class="rq">⁕</span></label>
          <span class="error blank">此為必填欄位</span>
          <!-- 名字欄位系統會比對，相同的話無法寫入 -->
          <input id="last_name" maxlength="40" name="last_name" size="20" type="text" class="required" required />
        </div>

        <div class="inputbox">
          <label for="email">電子信箱<span class="rq">⁕</span></label>
          <span class="error blank">此為必填欄位</span>
          <span class="error wrong errorMail">請確認電子信箱是否填寫正確</span>
          <input id="email" maxlength="80" name="email" size="20" type="text" class="required" required />
        </div>

        <!-- 需寫入備註欄的特殊欄位 -->
        <div class="inputbox specialbox freetextbox">
          <label for="company">公司名稱<span class="rq">⁕</span></label>
          <span class="error blank errorCompany">此為必填欄位</span>
          <input id="company" name="company" size="20" type="text" class="required" required value="天下" />
        </div>

        <!-- 需寫入備註欄的特殊欄位 -->
        <div class="inputbox specialbox freetextbox">
          <label for="challenge">挑戰狀態<span class="rq">⁕</span></label>
          <span class="error blank errorChallenge">此為必填欄位</span>
          <input id="challenge" name="challenge" size="20" type="text" class="required" required value="" />
        </div>

        <div class="checkbox">
          <div>
            <label>
              <input type="checkbox" name="policy" value="yes" id="policy">
              <span class="checkmark"></span>我已閱讀並同意個資聲明<span class="rq">⁕</span>
              <span class="error blank errorPolicy">此為必填欄位</span>
            </label>
          </div>
        </div>

        <p class="policyword">
          當您填表完成簽名或勾選﹝我已閱讀並同意﹞並送出資料時，即表示您已閱讀、了解並同意本聲明暨同意書的所有內容。<br>本活動由【客戶名稱】與【天下雜誌股份有限公司】（以下統稱我們）為本服務之目的向您蒐集、處理、利用您的資料包括您的【姓名、電話、Email、工作資訊或其他得以直接或間接識別您個人之資料】，通過遞交此表格，您確認同意我們按照隱私權聲明存儲及處理您的個人資料。【客戶名稱】可能會使用您的個人資料作營銷用途。<br>您可依個人資料保護法規定，就您的個人資料向我們行使下列權利：(1)查詢或請求閱覽(2)請求製給複製本(3)請求補充或更正(4)請求停止蒐集、處理及利用(5)請求刪除。關於您的權益如有任何疑慮，敬請詳閱天下雜誌<a href="https://event.cw.com.tw/policy/" target="_blank">隱私權同意書(個人資料聲明同意書)</a>。
        </p>

        <!-- 以下是隱藏的欄位放的div -->
        <div class="hiddenbox">
          同意個資聲明:
          <!-- 依user勾選同意與否帶入對應的值 -->
          <input id="00N2w00000Hh3Kk" maxlength="80" name="00N2w00000Hh3Kk" size="20" type="text" value="A版" />
          活動名稱:
          <!-- 更換活動名稱 預先填好不開放給user填寫 -->
          <input id="00N2w00000Hh3MH" maxlength="80" name="00N2w00000Hh3MH" size="20" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" />


          報名日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3C1" name="00N2w00000Hh3C1" size="12" type="text" /></span>

          活動類型:<textarea id="00N2w00000Hh3MW" name="00N2w00000Hh3MW" rows="3" type="text" wrap="soft"></textarea>

          名單到期日:
          <span style="font-size: 80%;">(預先填好不開放給user填寫)</span>
          <span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3Kz" name="00N2w00000Hh3Kz" size="12" type="text" value="2024/4/30" /></span>

          同意行銷:
          <select id="00N2w00000Hh3NF" name="00N2w00000Hh3NF" title="同意行銷">
            <option value="">--無--</option>
            <option value="同意" selected>同意</option>
            <option value="不同意">不同意</option>
            <option value="待確認">待確認</option>
          </select>

          取得BU:
          <select id="00N2w00000Hh3IA" name="00N2w00000Hh3IA" title="取得BU">
            <option value="">--無--</option>
            <option value="集團">集團</option>
            <option value="天下" selected>天下</option>
            <option value="親子">親子</option>
            <option value="康健">康健</option>
            <option value="Cheers">Cheers</option>
          </select>

          <p>以下為 【付費活動必填欄位】</p>

          會員帳號:<input id="00N2w00000Hka6z" maxlength="80" name="00N2w00000Hka6z" size="20" type="text" />

          訂單資訊:<textarea id="00N2w00000DOPqA" name="00N2w00000DOPqA" rows="3" type="text" wrap="soft"></textarea>

          <p style="border-top: 1px dotted #666; padding-top: 1rem; margin-top: 2rem;">以下為【非必填欄位】</p>

          從事行業:<input id="00N2w00000Hh3BS" maxlength="255" name="00N2w00000Hh3BS" size="20" type="text" />

          活動日期:<span class="dateInput dateOnlyInput"><input id="00N2w00000Hh3MM" name="00N2w00000Hh3MM" size="12" type="text" /></span>

          活動區域:<textarea id="00N2w00000Hh3MR" name="00N2w00000Hh3MR" rows="3" type="text" wrap="soft"></textarea>

          備註:<textarea id="00N2w00000Hh3Mv" name="00N2w00000Hh3Mv" rows="3" type="text" wrap="soft"></textarea>

          subBU:<textarea id="00N2w00000Hh3LO" name="00N2w00000Hh3LO" rows="3" type="text" wrap="soft"></textarea>

          廣告客戶名稱:<textarea id="00N2w00000Hh3Ld" name="00N2w00000Hh3Ld" rows="3" type="text" wrap="soft"></textarea>

          名單來源:<input id="00N2w00000Hh3M7" name="00N2w00000Hh3M7" rows="3" type="text" value="CW行銷部_會員權益v2招募活動_3D挑戰_202203290430" >

          <div class="checkbox">
            <div><label><input type="checkbox" id="00N2w00000HiIrE" name="00N2w00000HiIrE" value="1"><span></span>是否為PR
            </div>
          </div>
        </div>
        <!-- 以下是隱藏的欄位放的div end -->
        <button type="button" class="submitbtn" id="sendBtn">
          送出
        </button>
        <span class="error errorSubmit">* 請確認上方欄位皆已正確填寫</span>
        <input type="submit" name="submit" class="submitbtn" id="sfBtn">
      </div>
      <!-- 欄位們 end -->
      <!-- 為了不跳頁，用來放感謝頁的iframe -->
      <div class="hiddenIframe" style="width: 100%;height: 100px; display: none;">
        <p>感謝頁載這兒</p>
        <iframe id="id_iframe" name="nm_iframe" width="0" height="0" frameBorder="0"
          style="width:100%; height: 100%"></iframe>
      </div>
      <!-- 為了不跳頁，用來放感謝頁的iframe end -->
    </form>
    <div class="tks">
      <p>感謝您的填寫<br>將會有專人與您聯繫</p>
    </div>
  </section>
</body>

</html>