<!DOCTYPE html>
<html lang='zh-Hant-TW'>

<head>
  <meta charset='UTF-8'>
  <!-- title字數大約15~20個中文字 這是B版 -->
  <title>隱私權聲明同意書（蒐集、處理及利用個人資料聲明暨同意書） | 天下雜誌</title>
  <meta property='og:title' content='隱私權聲明同意書（蒐集、處理及利用個人資料聲明暨同意書） | 天下雜誌'>
  <meta property='og:site_name' content='隱私權聲明同意書（蒐集、處理及利用個人資料聲明暨同意書） | 天下雜誌' />
  <meta content='zh_TW' property='og:locale'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <!-- Favicon -->
  <link rel='shortcut icon' href='https://www.cw.com.tw/images/common/favicon.ico' type='image/x-icon' />
  <!--控制手機顯示比例固定+禁止縮放-->
  <meta name='viewport'
    content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name='format-detection' content='telephone=no'>
  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,600,700,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/policy.css">
  <!--gtm-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TXLD77');
  </script>
  <script type='text/javascript'>
    var _sf_startpt = (new Date()).getTime()
  </script>
  <!--gtm end-->
</head>

<body>
  <!--gtm-->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXLD77" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!--gtm end-->
  <div class="policycontent">
    <div class="logo"><img src="../assets/images/cw40.svg" alt="天下雜誌"></div>
    <h1>隱私權聲明同意書（蒐集、處理及利用個人資料聲明暨同意書）</h1>
    <p>當您填表完成簽名或勾選﹝我已閱讀並同意﹞並送出資料時，即表示您已閱讀、了解並同意本聲明暨同意書的所有內容，且您瞭解此一同意符合個人資料保護法及相關法規之要求，具有書面同意主辦單位／承辦單位蒐集、處理及利用您個人資料之效果。
    </p>
    <p>【客戶名稱】與【天下雜誌股份有限公司】（以下統稱：主辦單位）共同舉辦【SF活動名稱】（以下稱本活動），為本活動／服務之目的向您蒐集、處理、利用您的資料。</p>
    <ol>
      <li>為提供本活動／服務之用途，蒐集、處理及利用您的個人資料。</li>
      <li>您提供之資料，包括您的【姓名、電話、Email、工作資訊】或其他得以直接或間接識別您個人之資料。</li>
      <li>
        主辦單位僅蒐集為執行上述特定目的所必要提供之個人資料，並在前揭特定目的終止後二年及法令規定之期間內，以有利於達成前揭特定目的之方式（包括但不限於電腦處理、郵寄、電話、傳真），於中華民國境內及法令許可之範圍內加以處理及利用或於本公司可提供之領域服務範圍內使用。
      </li>
      <li>
        您可依個人資料保護法規定，就您的個人資料向主辦單位行使下列權利：
        <ol>
          <li>(1)查詢或請求閱覽</li>
          <li>(2)請求製給複製本</li>
          <li>(3)請求補充或更正</li>
          <li>(4)請求停止蒐集、處理及利用</li>
          <li>(5)請求刪除。</li>
        </ol>
      </li>
      <li>當您行使前述權利時，主辦單位將可能向您收取閱覽個人資料或製給複製本之必要成本費用，且您行使上開權利，須符合個人資料保護法規定之相關要件。</li>
      <li>主辦單位基於上述原因而需蒐集、處理或利用您個人資料時，您可以選擇是否提供，惟若選擇不提供或是提供不完全時，基於法令之執行，主辦單位將可能無法提供您所需的相關訊息或服務。</li>
      <li>關於您的權益如有任何疑慮，可與天下雜誌群客服連絡。會員服務專線：886-2-2662-0332　傳真電話：886-2-2662-6048或網站點選 bill@cw.com.tw;
        服務時間：週一～週五：09:00~17:30 </li>
      <li>若您未提供正確或不提供個人資料，主辦單位可能無法為您提供蒐集目的之相關服務。</li>
    </ol>
    <p>本人已充分獲知且已瞭解上述主辦單位告知事項，並同意主辦單位於所列蒐集目的之必要範圍內，蒐集、處理及利用本人之個人資料，且同意主辦單位留存此同意書，供日後取出查驗。</p>
    <p class="date">版本日期：2021年09月24日</p>
  </div>
  <footer>
    Copyright © 2022天下雜誌
  </footer>
</body>

</html>